<div class="nb-container">
  <div class="row mx-0 w-100 h-100 no-gutters align-items-start justify-content-center pb-3">
    <div id="pro-cta" class="col-lg-4 col-md-5 align-self-end">
      <h5 class="text-center mb-3">Are you a professional?</h5>
      <a [routerLink]="[ '/pro', 'homepage' ]">
        <div class="mx-auto nb-pro-btn">Get more exposure</div>
      </a>
    </div>
    <div class="col-md-2 col-6 align-self-start mt-4">
      <div id="links-divs">
        <h6>Navigation</h6>
        <a [routerLink]="[ '/learning' ]"><li>Learning</li></a>
        <a [routerLink]="[ '/specialists' ]"><li>Specialists</li></a>
        <a [routerLink]="[ '/tools' ]"><li>Tools</li></a>
        <a [routerLink]="[ '/sitemap' ]"><li>Sitemap</li></a>

      </div>
    </div>
    <div class="col-md-2 col-6 align-self-start mt-4">
      <div id="links-divs">
        <h6>Company</h6>
        <a [routerLink]="[ '/about' ]"><li>About us</li></a>
        <a [routerLink]="[ '/about', {isContact: true} ]"><li>Contact us</li></a>
        <a [routerLink]="[ '/privacy-policy' ]"><li>Privacy policy</li></a>
        <a [routerLink]="[ '/terms-of-use' ]"><li>Terms of use</li></a>
      </div>
    </div>
    <div id="socials" class="col-lg-2 col-md-3 col-12 align-self-start mt-4">
      <h6>Connect with us:</h6>
      <div>
        <a href="https://www.facebook.com/mvmt.tribe.1" target="_blank">
          <svg id="fb" class="nb-social-icon" width="80" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <g>
              <circle fill="transparent" stroke="#3b5998" cx="40" cy="40" r="28" id="circle-outer" />
              <circle fill="transparent" stroke="#3b5998" cx="40" cy="40" r="28" id="circle-inner" />
              <path stroke="null" class="icon" id="fb-icon" d="m42.58948,34.99079l0,-3.00552c0,-1.30239 0.19919,-2.00368 2.19109,-2.00368l2.68907,0l0,-5.0092l-3.98381,0c-4.97976,0 -6.97167,3.30607 -6.97167,7.01288l0,3.00552l-3.98381,0l0,5.0092l3.98381,0l0,15.02761l5.97572,0l0,-15.02761l3.98381,0l0.19919,-5.0092l-4.97976,0l0.89636,0l0,0l-0.00002,0l0.00002,0z"
                fill="#3b5998" />
            </g>
          </svg>
        </a>
        <a href="https://www.instagram.com/mvmtribe/" target="_blank">
          <svg  id="ig" class="nb-social-icon" width="80" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet">

            <g stroke="null">
              <circle fill="transparent" stroke="#fff" cx="40" cy="40" r="28" id="circle-outer" />
              <circle fill="transparent" stroke="#fff" cx="40" cy="40" r="28" id="circle-inner" />
              <rect id="icon-ig-rect" stroke="#fff" ry="6" rx="6" height="30" width="30" y="25" x="25" stroke-width="3" fill="transparent"
              />
              <circle id="icon-ig-circle-big" stroke="#fff" r="6.7581" cy="40" cx="40" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null"
                stroke-width="3" fill="transparent" />
              <circle id="icon-ig-circle-small" stroke="transparent" r="2.126" cy="30.74035" cx="49.31877" stroke-linecap="null" stroke-linejoin="null"
                stroke-dasharray="null" stroke-width="0" fill="#fff" />
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-lg-2 d-lg-block d-md-none d-none align-self-center">
      <img class="mx-auto" src="../../../assets/images/logo/ver-wobg-white.png">
    </div>
    <div class="col-12 text-center" id="copyright">Copyright © 2018 MVMTribe inc. All rights reserved.</div>
  </div>
</div>
