@import "../../../assets/scss/variables";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/cssUtils";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @include media-breakpoint-down(xs) {
$colour: $main-color;
$social-icon-translate: -20px;

.nb-container {
  background-color: $black;
  color: white;

  .row {
    a {
      text-decoration: none;
      color: inherit;
    }

    #pro-cta {
      @include media-breakpoint-down(sm) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    .nb-pro-btn {
      @include nb-btn(220px, 50px);
      background-color: $colour;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      transition: box-shadow .6s ease-in-out, transform .3s ease-in-out;

      &:hover {
        box-shadow: -6px 10px 20px rgba(0, 0, 0, .2);
        transform: scale(1.05);
      }
    }

    h6 {
      font-weight: bold;
      color: $colour;
    }

    li {
      list-style-type: none;
      width: fit-content;

      &:hover {
        cursor: pointer;
        color: $colour;
      }
    }

    .nb-social-icon {
      &#fb {
        transform: translateX(#{$social-icon-translate}) scale(.7);
      }

      &#ig {
        transform: translateX(calc(#{$social-icon-translate} * 2)) scale(.7);
      }

      float: left;

      #circle-outer,
      #circle-inner,
      .icon,
      #icon-ig-rect,
      #icon-ig-circle-big,
      #icon-ig-circle-small {
        transition: 300ms all;
        transform-origin: 50% 50%;
      }

      #circle-outer,
      #circle-inner,
      #icon-ig-circle-big,
      #icon-ig-rect {
        stroke: $colour;
      }

      .icon,
      #icon-ig-circle-small {
        fill: $colour;
      }

      &:hover {
        cursor: pointer;

        #circle-outer {
          transform: scale(1.25);
        }

        .icon,
        #icon-ig-circle-small {
          fill: $black;
        }

        #icon-ig-circle-big,
        #icon-ig-rect {
          stroke: $black;
        }

        #circle-inner {
          fill: $colour;
        }
      }
    }

    img {
      width: 160px;
      transform: translateY(40px);
    }

    #copyright {
      font-size: 13px;
      margin-top: 60px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }

    @include media-breakpoint-down(sm) {
      #links-divs {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }

      #socials {
        h6 {
          text-align: center;
        }

        div {
          .nb-social-icon {
            transform: scale(.7);
            float: none;
          }

          width: 160px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}