@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$colour: $main-color;

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  .nb-explanation-text {
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: block;
    text-align: center;
    text-shadow: 1px 1px white;
    font-weight: bold;
    color: $black;
    font-size: 21px;

    @include media-breakpoint-down(xs) {
      font-size: 17px;
    }
  }

  .nb-saved {
    width: fit-content;
    height: fit-content;
    @include vendor-prefix(transform, translateY(-50%));
    border-radius: 45px;
    padding: 10px 5px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    .nb-section {
      display: inline-block;
      width: 140px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      color: gray;
      cursor: pointer;
    }

    .nb-section:hover,
    .nb-active-section {
      color: $colour;
      font-weight: bold;
    }
  }

  #form {
    width: 100%;

    .nb-form-field-container {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;

      label {
        font-size: 13px;
        color: gray;
        padding-left: 4px;
      }

      .nb-form-field {
        display: block;
        text-align: left !important;
        font-size: 16px;
        padding-left: 8px;
        @include nb-btn(350px, $btn-height);

        @include media-breakpoint-down(xs) {
          width: 260px;
        }

        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
        outline: none;
        margin-bottom: 25px;
        background-color: white;
        color: rgba(black, .6);
        border: 1.5px solid rgba($colour, 0);
        transition: border .7s cubic-bezier(.25, .8, .25, 1);

        &:focus {
          border: 1.5px solid rgba($colour, 1);
        }
      }

      select.nb-form-field {
        @include vendor-prefix(appearance, none);
        @include vendor-prefix(background-image, url("../../../../assets/images/icon-down-arrow.svg"));
        @include vendor-prefix(background-size, 26px $btn-height);
        @include vendor-prefix(background-repeat, no-repeat);
        @include vendor-prefix(background-position, right);
        @include vendor-prefix(background-position-x, 98%);
      }

      .div-ul {
        // same as form-field: padding-left ; li width and height
        position: absolute;
        bottom: calc(-1.75 * #{$btn-height});
        list-style: none;
        border-radius: $btn-border-radius;
        width: fit-content;
        background-color: white;
        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
        @media (max-height: 700px) {
          bottom: unset;
          top: calc(-1.75 * #{$btn-height});
        }
        li {
          width: 350px;

          @include media-breakpoint-down(xs) {
            width: 260px;
          }

          margin: 0 auto;
          height: $btn-height;
          line-height: $btn-height;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0 8px;
          border-bottom: 1px solid lightgray;

          &:last-of-type {
            border-bottom: none;
            @include nb-border-radius-bottom($btn-border-radius);
          }

          &:first-of-type {
            @include nb-border-radius-top($btn-border-radius);
          }

          &:hover {
            cursor: pointer;
            background-color: rgba(gray, .14);
            color: $main-color;
            font-size: bold;
          }
        }
      }
    }

    .nb-search-btn {
      display: block;
      font-size: 16px;
      @include nb-btn(350px,
      $btn-height);

      @include media-breakpoint-down(xs) {
        width: 260px;
      }

      box-shadow: 0 6px 15px rgba(36,
      37,
      38,
      0.08);
      margin-top: 40px;
      margin-bottom: 50px;
      text-transform: uppercase;
      font-weight: bold;
      @include nb-btn-styling('full',
      transparent,
      '$blue-dark',
      $colour,
      white);
    }
  }
}