<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid p-0">

  <div class="row mx-0 w-100 no-gutters align-items-start justify-content-center">
    <div class="col-12 nb-explanation-text py-5">
      Find movement specialist near you.
      <br> Search by specialty and location.
    </div>
    <div class="nb-saved">
      <div class="nb-section border-right" [ngClass]="{'nb-active-section': searchObject.bySpecialty}" (click)="switchSearchType('spe')">by specialty</div>
      <div class="nb-section" [ngClass]="{'nb-active-section': !searchObject.bySpecialty}" (click)="switchSearchType('job')">by job title</div>
    </div>
  </div>

  <div class="row mx-0 w-100 no-gutters align-items-center justify-content-center">
    <div id="form" class="col-12 py-4">
      <div class="nb-form-field-container" *ngIf="searchObject.bySpecialty">
        <label>Specialty (eg. back pain)</label>
        <select [(ngModel)]="searchObject.specialty" class="nb-form-field" name="specialty">
          <option value="">Any</option>
          <option *ngFor="let specialty of specialties" [value]="specialty">{{ specialty | titlecase}}</option>
        </select>
      </div>

      <div class="nb-form-field-container" *ngIf="!searchObject.bySpecialty">
        <label>Job Title (eg. movement coach)</label>
        <select [(ngModel)]="searchObject.jobTitle" class="nb-form-field" name="job">
          <option value="">Any</option>
          <option *ngFor="let job of jobs" [value]="job">{{ job | titlecase }}</option>
        </select>
      </div>

      <div class="nb-form-field-container">
        <label>City (eg. Paris, France)</label>
        <input class="nb-form-field" type="text" [formControl]="cityFromAutocomplete" placeholder="{{ searchObject.city || 'Enter a city' }}" name="city">
        <div class="div-ul" *ngIf="cityFromAutocomplete">
          <li *ngFor="let city of resultCities" (click)="selectedCity(city)">{{ city }}</li>
        </div>
      </div>

      <div class="nb-search-btn mx-auto" (click)="search()">Search</div>

    </div>
  </div>

</div>
<app-footer></app-footer>