<router-outlet></router-outlet>

<simple-notifications></simple-notifications>

<ng-template [ngIf]="showLoader">
  <div class="nb-loader-body">
    <div class="nb-loader"></div>
    <h5>Loading</h5>
    <h5>You should refresh the page, <br> this isn't normal</h5>
  </div>
</ng-template>


<div class="nb-cookies-msg" [ngClass]="{'nb-bar-anim': showCookiesMsg}">
    By using our website you are consenting to 
    <br> 
    our use of cookies in accordance with 
    <br> 
    our <a href="http://localhost:4200/terms-of-use" target="_blank">Terms of use</a>.
    <img (click)="showCookiesMsg = false" src="../assets/images/fi-close.svg" alt="">
</div>