@import "../assets/scss/variables";
@import "../assets/scss/animations";
@import "../assets/scss/cssUtils";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.nb-cookies-msg {
  @include vendor-prefix(transform, translateY(100%));
  transition: transform 400ms ease-in;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 15px 0;
  height: fit-content;
  background-color: rgba(#000000, .79);
  color: white;
  text-align: center;
  font-size: 14px;

  br {
    display: none;
  }

  a {
    color: $main-color;
    text-decoration: underline;
    cursor: pointer;
  }

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 5%;
  }

  @media (max-width: 750px) {
    padding-bottom: calc(#{$mobile-navbar-height} * 2);

    br {
      display: block;
    }

    img {
      left: 0;
      bottom: calc(#{$mobile-navbar-height} + 5px);
      top: unset;
      margin: unset;
      margin: auto;
    }
  }
}

.nb-bar-anim {
  @include vendor-prefix(transform, translateY(0));
}



.nb-loader-body {

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  $animation-duration: 3.5s;

  @keyframes load {
    0% {
      @include vendor-prefix(transform, translateX(40px));
    }

    50% {
      @include vendor-prefix(transform, translateX(-50px));
    }

    100% {
      @include vendor-prefix(transform, translateX(40px));
    }
  }
  @-webkit-keyframes load {
    0% {
      @include vendor-prefix(transform, translateX(40px));
    }

    50% {
      @include vendor-prefix(transform, translateX(-50px));
    }

    100% {
      @include vendor-prefix(transform, translateX(40px));
    }
  }
  @-ms-keyframes load {
    0% {
      @include vendor-prefix(transform, translateX(40px));
    }

    50% {
      @include vendor-prefix(transform, translateX(-50px));
    }

    100% {
      @include vendor-prefix(transform, translateX(40px));
    }
  }
  @-moz-keyframes load {
    0% {
      @include vendor-prefix(transform, translateX(40px));
    }

    50% {
      @include vendor-prefix(transform, translateX(-50px));
    }

    100% {
      @include vendor-prefix(transform, translateX(40px));
    }
  }
  @-o-keyframes load {
    0% {
      @include vendor-prefix(transform, translateX(40px));
    }

    50% {
      @include vendor-prefix(transform, translateX(-50px));
    }

    100% {
      @include vendor-prefix(transform, translateX(40px));
    }
  }

  background-color: $lightgray;

  .nb-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    @include vendor-prefix(transform, translate(-50%, -50%));
    width: 50px;
    height: 10px;
    background: #3498DB;
    border-radius: 5px;
    @include vendor-prefix(animation, load $animation-duration ease-in-out infinite);

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      animation: load $animation-duration ease-in-out infinite;
      -webkit-animation: load $animation-duration ease-in-out infinite;
      height: 10px;
      border-radius: 5px;
    }

    &:before {
      top: -20px;
      left: 10px;
      width: 40px;
      background: #2ecc71;
    }

    &:after {
      bottom: -20px;
      width: 35px;
      background: #f1c40f;
    }
  }

  h5 {
    position: absolute;
    text-align: center;
    width: 100%;

    @include media-breakpoint-down(xs) {
      font-size: 17px;
    }

    &:first-of-type {
      top: 61%;
    }

    &:last-of-type {
      top: 70%;
      color: #e74c3c;
      @include fade-in-animation(1s, 3.5s);
    }
  }
}