<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid px-0">

  <div *ngIf="atStep === 1" id="step1" class="row mx-0 w-100 no-gutters justify-items-center justify-content-center text-center">
    <div class="col-12 align-self-center mx-auto">
      <div id="headers">
        <h2>No worries, let's fix this.</h2>
        <h5>Just enter your email below and we'll send you a link pronto!</h5>
      </div>
      <form [formGroup]="step1Form" *ngIf="step1Form">
        <input type="email" name="email" id="email" placeholder="example@gmail.com..." class="mt-4 mx-auto" formControlName="email" [ngClass]="{'nb-invalid': validationState.emailEntered}">
        <small *ngIf="validationState.emailEntered">Please enter a valid email (ex. you@awesome.com)</small>
        <div class="nb-submit mx-auto mt-3" (click)="send()">Send me the email</div>
      </form>
    </div>
  </div>

  <div *ngIf="atStep === 2" id="step2" class="row mx-0 w-100 no-gutters justify-items-center justify-content-center text-center">
    <div class="col-12 align-self-center mx-auto">
      <div id="headers">
        <h2>Last step</h2>
        <h5>Choose a new password <br class="d-sm-none d-block"> (min 8 characters)</h5>
      </div>
      <form [formGroup]="step2Form" *ngIf="step2Form">
        <input type="password" name="password" id="password" placeholder="Enter new password" class="mt-4 mx-auto" formControlName="password" [ngClass]="{'nb-invalid': validationState.password}">
        <small *ngIf="validationState.password">Password must be 8 characters minimum</small>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm new password" class="mt-3 mx-auto" formControlName="passwordConfirmation" [ngClass]="{'nb-invalid': validationState.passwordConfirmation}">
        <small *ngIf="validationState.passwordConfirmation">Passwords must match</small>
        <div class="nb-submit mx-auto mt-4" (click)="reset()">Reset</div>
      </form>
    </div>
  </div>

</div>
<app-footer></app-footer>