@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @include media-breakpoint-down(xs) {
$color-anim: $main-color;
.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  #step1, #step2 {
      @include full-height-responsive;
      @include media-breakpoint-down(xs) {
        h2 {
          font-size: 23px;
        }
        h5 {
          font-size: 19px;
          width: 255px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      input {
        @include nb-btn(280px, $btn-height);
        display: block;
        outline: none;
        background-color: white;
        font-size: 16px;
        border: 1px solid lightgray;
        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
        transition: border .7s ease-in-out;
        &:focus {
          border: 1.5px solid rgba($color-anim, 1);
        }
      }
      .nb-invalid {
        &:focus {
          border: 1.5px solid red;
        }
        border: 1.5px solid red;
      }
      small {
        color: red;
      }
      .nb-submit {
        @include nb-btn(280px, $btn-height);
        @include nb-btn-styling('full', '$init-color', '$init-text-color', $color-anim, white);
        font-weight: bold;
        text-transform: uppercase;

      }
      
  }
}