<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid p-0">
  <div id="nb-row1" class="row mx-0 w-100 no-gutters align-items-center justify-content-center">
    <div class="col-lg-9 col-md-12 align-self-center">
      <div class="nb-current-search">{{ resultsSentence() | titlecase }}</div>
    </div>
    <div class="col-lg-3 col-md-12 align-self-center">
      <a [routerLink]="[ '/specialists' ]">
        <div class="nb-new-search-btn mx-auto"> new search</div>
      </a>
    </div>
  </div>
  <app-specialists-list [dataFromParent]="{'from': 'specialists', 'data': searchDetails}"></app-specialists-list>
</div>
<app-footer></app-footer>