@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$colour: $main-color;

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  #nb-row1 {
    $header-height: 100px;
    height: $header-height;
    margin-bottom: 60px;
    background-color: white;
    border-bottom: 1px solid lightgray;

    .nb-current-search {
      font-size: 18px;
      padding-left: 5%;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .nb-new-search-btn {
      @include nb-btn(120px, 45px);
      @include nb-btn-styling('full', 'none', 'none', $colour, white);
      font-weight: bold;
    }

    @include media-breakpoint-down(md) {
      height: calc(#{$header-height} * 1.4);
      margin-bottom: 25px;
      padding: 0 8px;

      .nb-current-search {
        text-align: center;
        font-size: 16px;
        padding: 0 10%;
      }
    }
  }
}