<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid p-0">

  <div class="row mx-0 w-100 align-items-center justify-content-center">
    <div class="row mx-0 w-100 no-gutters align-items-start justify-content-center">
      <div class="col-12 nb-explanation-text py-5">
        Get the tools you need.
        <br> Buy directly from Amazon.
      </div>
    </div>
  </div>

  <div id="nb-products-row" class="row mx-0 w-100 no-gutters align-items-start justify-content-center">
    <div *ngFor="let item of items" class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2">
      <div class="nb-product-card">
        <div class="nb-img" [ngStyle]="{ 'background-image': 'url(' + item.pictureURL + ')' }">
          <div *ngIf="item.isOnSale" class="nb-notice">
            <img src="../../../assets/images/fi-on-sale.svg">
            <span> ON SALE </span>
          </div>
        </div>
        <span class="nb-product-details">
          <div id="nb-name"> {{item.name}}</div>
          <div id="nb-price" [ngClass]="{'nb-crossed': item.isOnSale}">${{item.price}}</div>
        </span>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2">
      <div class="nb-product-card nb-empty-card">
        <h5>New products coming soon!</h5>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>



<!-- <div class="pt-4 pb-3 col-lg-2 col-md-3 col-sm-6 col-6 text-center">
      <img src="https://www.shareicon.net/data/2015/09/19/642911_online_512x512.png">
      <h6>Buy through Amazon</h6>
    </div>
    <div class="pt-4 pb-3 col-lg-2 col-md-3 col-sm-6 col-6 text-center">
      <img src="https://cdn0.iconfinder.com/data/icons/simple-line-vol1/100/.svg-7-512.png">
      <h6>Fast & free delivery</h6>
    </div>
    <div class="pt-4 pb-3 col-lg-2 col-md-3 col-sm-6 col-6 text-center">
      <img src="https://iconalone.com/sites/default/files/styles/220x220/public/24%20hours%20customer%20service.svg_0.png?itok=JOjiTgGug">
      <h6>24/7 customer service</h6>
    </div>
    <div class="pt-4 pb-3 col-lg-2 col-md-3 col-sm-6 col-6 text-center">
      <img src="http://cdn.onlinewebfonts.com/svg/img_568861.png">
      <h6>14 day money back</h6>
    </div> -->