@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
$img-height: 260px;
$card-height: 304px;

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  .nb-explanation-text {
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: block;
    text-align: center;
    text-shadow: 1px 1px white;
    font-weight: bold;
    color: $black;
    font-size: 21px;

    @include media-breakpoint-down(xs) {
      font-size: 17px;
    }
  }

  #nb-products-row {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;

    .nb-product-card {
      margin: 0 auto;
      min-width: 280px;
      max-width: 480px;
      width: 100%;
      height: $card-height;
      background: white;
      border-radius: $btn-border-radius;
      box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
      transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        .nb-img {
          .nb-on-hover-text {
            display: block;
            @include fade-in-animation(.3s, 0)
          }
        }
      }

      .nb-img {
        @include vendor-prefix(background-size, cover);
        @include vendor-prefix(background-position, center);
        @include vendor-prefix(background-repeat, no-repeat);
        cursor: pointer;
        @include nb-border-radius-top($btn-border-radius);
        width: 100%;
        height: $img-height;

        .nb-notice {
          @include nb-border-radius-right($btn-border-radius);
          background-color: white;
          width: fit-content;
          position: relative;
          top: 5%;
          padding: 4px 8px;
          height: 36px;
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);

          img {
            width: 28px;
            display: inline-block;
            @include vendor-prefix(transform, translateY(-4px));
          }

          span {
            line-height: 30px;
          }
        }

        .nb-notice-v2 {
          position: relative;
          top: -1%;
          right: 1%;
          width: 20%;
          background-color: white;
          border-radius: 45px;
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
        }
      }

      span.nb-product-details {
        width: 100%;
        height: calc(100%-$img-height);
        display: block;
        font-weight: bold;
        font-size: 16px;

        #nb-name {
          display: inline-block;
          text-align: left;
          text-transform: uppercase;
          width: 70%;
          padding-left: 7%;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        #nb-price {
          border-left: 1px solid lightgray;
          display: inline-block;
          text-align: center;
          width: 30%;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .nb-crossed {
          @include line-cross-infinite(1.5s);
        }
      }
    }

    .nb-empty-card {
      background-color: rgba($red, 0.2);

      h5 {
        text-align: center;
        line-height: $card-height;
      }
    }
  }
}