<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid px-0">
  <div class="row mx-0 w-100 no-gutters align-items-start justify-content-center">
    <div id="mission" class="col-12 align-self-center">
      <h3 class="mx-auto">— OUR MISSION —</h3>
      <p>
        Hi! We are Evgueni and Islam, two individuals with a passion for human movmement and fitness.
        We truly believe in the transformative power of healthy living and its amazing benefits in almost every aspect
        of our life. It’s a long list, you can google it ;)
      </p>
      <p>Our goal is to educate through a principe-based approach, provide or create the tools you need to facilitate
        your efforts (you still need to do some work), and finally bring like-minded people together and create a
        community, a tribe.</p>
      <p> We sincerely hope you will find this of value!</p>
    </div>
  </div>


  <div class="row mx-0 w-100 no-gutters align-items-start justify-content-center pt-5 pb-4">
    <div class="nb-cta-section">
      <h4 class="mb-0 font-weight-bold">Does this resonate with you? </h4>
      <p>Check out our articles and courses</p>
      <div id="span" class="mx-auto">
        <a [routerLink]="[ '/learning' ]">
          <div class="nb-cta mt-4">I want to learn more</div>

        </a>
      </div>
    </div>
  </div>

  <div id="contactUs" class="row mx-0 w-100 no-gutters align-items-center justify-content-center pt-5 pb-4">
    <div class="col-12 mb-3">
      <h3 class="mx-auto">— CONTACT US —</h3>
    </div>

    <div class="col col-lg-4 col-sm-6 col-12 mb-5">
      <a href="https://www.facebook.com" target="_blank">
        <img class="w-25 mx-auto d-block mb-3" src="../../../assets/images/fi-contactus-facebook.svg" alt="">
        <p class="text-center">
          <span class="mb-1 font-weight-bold">
            Join our facebook group
          </span>
          <br>Let's connect, share, and learn together.</p>
        <hr class="w-25">
      </a>
    </div>
    <div class="col col-lg-4 col-sm-6 col-12 mb-5">
      <img id="email" ngxClipboard [cbContent]="email" (cbOnSuccess)="copiedInfo()" class="w-25 mx-auto d-block mb-3"
        src="../../../assets/images/fi-contactus-email.svg" alt="">
      <p class="text-center">
        <span class="mb-1 font-weight-bold">
          Send us an email
        </span>
        <br>Simply click on the icon above to copy it.
      </p>
      <hr class="w-25">
    </div>
    <div class="col col-lg-4 col-sm-6 col-12 mb-5">
      <a href="https://www.instagram.com/mvmtribe/" target="_blank">
        <img class="w-25 mx-auto d-block mb-3" src="../../../assets/images/fi-contactus-instagram.svg" alt="">
        <p class="text-center">
          <span class="mb-1 font-weight-bold">
            Follow us on Instagram
          </span>
          <br>Get some tips and inspiration hopefully.</p>
        <hr class="w-25">
      </a>
    </div>

  </div>

</div>
<app-footer></app-footer>