@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$colour: $main-color;

.container-fluid {
  @include topnavbar-margin;

  .row p {
    font-size: 19px;
    width: 55%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(xs) {
      font-size: 14.5px;
      width: 80%;
    }
  }

  h3 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;

    @include media-breakpoint-down(xs) {
      font-size: 25px;
      margin-bottom: 20px;
      width: 80%;
    }
  }

  .row:first-of-type {
    background-color: white;
    text-align: justify;
    @include full-height-responsive;
  }

  .nb-cta-section {
    @include vendor-prefix(background-size, cover);
    @include vendor-prefix(background-position, center);
    @include vendor-prefix(background-image, url('../../../assets/images/bg-tilted-gray.svg'));
    padding: 20% 0;
    width: 100%;
    // height: 20vh;
    text-align: center;
    
    a {
      text-decoration: none;
      color: inherit;
    }

    .nb-cta {
      @include nb-btn(230px, 50px);
      @include sliding-animation(1s, 'bottom', .4s);
      @include nb-btn-styling('full', 'none', 'none', $colour, white);
      text-transform: uppercase;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .row:last-of-type {
    padding: 50px 0;

    h3 {
      margin-bottom: 80px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    p {
      width: 79%;
    }

    img {
      max-width: 62px;
    }

    hr {
      border-width: 3px;
      border-color: transparent;
      @media (max-width: $navbar-breakpoint) {
        border-color: $colour;
      }
    }

    .col:hover {
      cursor: pointer;

      hr {
        border-color: $colour;
      }
    }
  }
}