@import '../../assets/scss/variables';
@import '../../assets/scss/animations';
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";


.nb-loader-body {

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  $animation-duration: 3.5s;

  @keyframes load {
    0% {
      @include vendor-prefix(transform, translateX(40px));
    }

    50% {
      @include vendor-prefix(transform, translateX(-50px));
    }

    100% {
      @include vendor-prefix(transform, translateX(40px));
    }
  }

  background-color: $lightgray;

  .nb-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    @include vendor-prefix(transform, translate(-50%, -50%));
    width: 50px;
    height: 10px;
    background: #3498DB;
    border-radius: 5px;
    animation: load $animation-duration ease-in-out infinite;

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      animation: load $animation-duration ease-in-out infinite;
      height: 10px;
      border-radius: 5px;
    }

    &:before {
      top: -20px;
      left: 10px;
      width: 40px;
      background: #2ecc71;
    }

    &:after {
      bottom: -20px;
      width: 35px;
      background: #f1c40f;
    }
  }

  h5 {
    position: absolute;
    text-align: center;
    width: 100%;

    @include media-breakpoint-down(xs) {
      font-size: 17px;
    }

    &:first-of-type {
      top: 61%;
    }

    &:last-of-type {
      top: 70%;
      color: #e74c3c;
      @include fade-in-animation(1s, 3.5s);
    }
  }
}