<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid px-0">
  <div class="row mx-0 w-100 justify-items-center justify-content-center">
    <div *ngIf="selected" class="col-12 align-self-center text-center">

      <div *ngIf="selected === 'confirmEmailSuccess' || selected === 'confirmPasswordReset'" class="validation-animation success nb-checkmark mt-4 mb-3">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1"
            r="62.1" />
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
            stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
        </svg>
      </div>
      <div *ngIf="selected !== 'confirmEmailSuccess' && selected !== 'confirmPasswordReset'" class="validation-animation error nb-checkmark mt-4 mb-3">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1"
            r="62.1" />
          <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
            stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
          <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
            stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
        </svg>
      </div>

      <h3 *ngIf="selected === 'confirmEmailSuccess' || selected === 'confirmPasswordReset'" class="mb-3 success">{{ templates[selected].header }}</h3>
      <h3 *ngIf="selected !== 'confirmEmailSuccess' && selected !== 'confirmPasswordReset'" class="mb-3 error">{{ templates[selected].header }}</h3>

      <h5 class="mx-auto">{{ templates[selected].msg }}</h5>
      <div class="nb-login-btn mx-auto mt-5" (click)="openLoginModal('pro', false)">Login</div>
    </div>
  </div>
</div>
<app-footer></app-footer>