@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @include media-breakpoint-down(xs) {
$color-anim: $main-color;

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;

  .row {
    @include full-height-responsive;

    .validation-animation {
      svg {
        width: 130px;

        @include media-breakpoint-down(xs) {
          width: 90px;
        }
      }
    }

    .success {
      color: $color-anim;

      svg {

        circle,
        polyline {
          stroke: $color-anim;
        }
      }
    }

    .error {
      color: #ff6961;

      svg {

        circle,
        line {
          stroke: #ff6961;
        }
      }
    }

    h5 {
      width: 50%;

      @include media-breakpoint-down(xs) {
        width: 90%;
      }
    }

    .nb-login-btn {
      @include nb-btn(150px, $btn-height);
      @include sliding-animation(1s, 'left', .4s);
      @include nb-btn-styling('full', '$init-color', '$init-text-color', $color-anim, white);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}