<div class="modal-body p-0">
  <div class="nb-img"></div>
  <div class="px-3 my-3 text-center">
    <h4>{{ selected.header }}</h4>
    {{ selected.msg }}
  </div>
</div>
<div class="modal-footer">
  <div class="mx-auto" (click)="closeAndReRoute()">Close</div>
</div>