@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";

.modal-body {
    .nb-img {
        @include vendor-prefix(background-image, url("../../../assets/images/sent-email.gif"));
        @include vendor-prefix(background-repeat, no-repeat);
        @include vendor-prefix(background-size, cover);
        @include vendor-prefix(background-position, center);
        width: 100%;
        height: 120px;
        @include nb-border-radius-top($btn-border-radius);
    }
}

.modal-footer {
    div {
        @include nb-btn(95px, 40px);
        border: 1px solid lightgray;
        transition: all .4s;
        &:hover {
            cursor: pointer;
            color: white;
            font-weight: bold;
            background-color: #29CE84;
        }
    }
}