@import "../../../assets/scss/variables";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/cssUtils";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$colour: black;
$text-colour: white;
$icon-size: calc(#{$mobile-navbar-height} * .48);

@media (min-width: $navbar-breakpoint) {
  #nb-main {
    display: none !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#nb-main {
  position: fixed;
  bottom: 0;
  height: $mobile-navbar-height;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: $colour;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .nb-sides {
    height: $mobile-navbar-height;
    width: $mobile-navbar-height;

    &:first-of-type {
      transition: transform .3s ease-out;

      &.nb-center {
        @include vendor-prefix(transform, translateX(calc(50vw - #{$mobile-navbar-height} / 2)));
        box-shadow: none;
      }
    }

    img {
      display: block;
      width: $icon-size;
      height: $mobile-navbar-height;
      margin: 0 auto;
    }
  }

  .nb-navigation-wrapper {
    width: fit-content;
    height: fit-content;
    @include vendor-prefix(transform, translateY(100%));
    transition: transform 1s ease-in-out;

    div {
      display: inline-block;
      width: $mobile-navbar-height;
      height: $mobile-navbar-height;

      img {
        display: block;
        width: $icon-size;
        height: 100%;
        padding: 3px;
        margin: 0 auto;
      }
    }
  }

  .nb-nav-animation {
    @include vendor-prefix(transform, translateY(0));
  }
}

.nb-open-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 5;
  background-color: $colour;
  box-shadow: 0 -3px 14px 2px rgba(0, 0, 0, .12), 0 -5px 5px -3px rgba(0, 0, 0, .2);
  transition: height .5s cubic-bezier(.51,.92,.24,1.15), 
              border-radius .4s .15s cubic-bezier(.51,.92,.24,1.15);
  h5 {
    color: white;
    letter-spacing: 1px;
  }
  .nb-container {
    opacity: 0;
    width: 100%;
    font-size: 22px;
    color: $text-colour;
    height: calc(100vh - #{$mobile-navbar-height});

    .row {
      margin-top: 27px;
      $spacing: 20px;
      $box-width: 80px;
      width: calc(2 *(#{$box-width} + #{$spacing}));

      .col {
        height: calc(#{$box-width} + #{$spacing});

        // &:first-of-type {
        //   a .nb-menu-item .nb-pic-and-title {
        //     @include fade-in-animation(1500ms, 1s);
        //   }
        // }

        // &:nth-of-type(2) {
        //   a .nb-menu-item .nb-pic-and-title {
        //     @include fade-in-animation(150ms, 1.150s);
        //   }
        // }

        // &:nth-of-type(3) {
        //   a .nb-menu-item .nb-pic-and-title {
        //     @include fade-in-animation(150ms, 1.300s);
        //   }
        // }

        // &:last-of-type {
        //   a .nb-menu-item .nb-pic-and-title {
        //     @include fade-in-animation(150ms, 1.450s);
        //   }
        // }

        .nb-menu-item {
          height: $box-width;
          width: $box-width;
          border: 1px solid transparent;
          padding-top: 15px;

          .nb-pic-and-title {
            img {
              width: 52%;
              display: block;
            }
          }
        }

        .nb-active-page {
          h6 {
            font-weight: bold;
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }
}

.nb-animate {
  height: 68vh;
  @include nb-border-radius-top(15%);

  @media screen and (orientation: landscape) {
    height: 99vh;

  }

  .nb-container, .nb-logo {
    opacity: 1;
  }
}