<div id="nb-main"  [ngClass]="{'nb-higher-z-index': isMenuOpen}">
  <div class="nb-sides" [ngClass]="{'nb-center': isMenuOpen}" (click)="isMenuOpen = !isMenuOpen">
    <img *ngIf="!isMenuOpen" src="../../../assets/images/fi-menu.svg">
    <img *ngIf="isMenuOpen" src="../../../assets/images/fi-close.svg">
  </div>

  <div class="nb-navigation-wrapper" [hidden]="isMenuOpen" [ngClass]="{'nb-nav-animation': isNavbarShown}">
    <a [routerLink]="backToCategories()">
      <div><img src="../../../assets/images/fi-back-left.svg" alt=""></div>
    </a>
    <div (click)="openSocialsModal()"><img src="../../../assets/images/fi-share.svg" alt=""></div>
  </div>

  <div (click)="routerLink.navigate(['about', {isContact: true}])" class="nb-sides" [hidden]="isMenuOpen">
    <img src="../../../assets/images/fi-chat.svg">
  </div>
</div>

<div class="nb-open-menu" [ngClass]="{'nb-animate': isMenuOpen}">
  <h5 class="w-100 text-center pt-3">MENU</h5>
  <div class="nb-container">
    <div class="row mx-auto no-gutters align-items-start justify-content-center">

      <div class="col-6 col">
        <a [routerLink]="navFromMenu('learning')">
          <div class="nb-menu-item mx-auto" [ngClass]="{'nb-active-page': activePage('learning')}">
            <div class="nb-pic-and-title">
              <img class="mx-auto mb-2" src="../../../assets/images/temp-icons/light-bulb-white.svg" alt="">
              <h6 class="text-center">Learning</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col">
        <a [routerLink]="navFromMenu('specialists')">
          <div class="nb-menu-item mx-auto" [ngClass]="{'nb-active-page': activePage('specialist')}">
            <div class="nb-pic-and-title">
              <img class="mx-auto mb-2" src="../../../assets/images/fi-ppl.svg" alt="">
              <h6 class="text-center">Specialists</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col">
        <a [routerLink]="navFromMenu('tools')">
          <div class="nb-menu-item mx-auto" [ngClass]="{'nb-active-page': activePage('tools')}">
            <div class="nb-pic-and-title">
              <img class="mx-auto mb-2" src="../../../assets/images/temp-icons/kettlebell-white.svg" alt="">
              <h6 class="text-center">Tools</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col">
        <a [routerLink]="['/pro','homepage']">
          <div class="nb-menu-item mx-auto">
            <div class="nb-pic-and-title">
              <img class="mx-auto mb-2" src="../../../assets/images/fi-pro.svg" alt="">
              <h6 class="text-center">Pro Signup</h6>
            </div>
          </div>
        </a>
      </div>

    </div>


  </div>

</div>