<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid p-0">

  <div class="row mx-0 w-100 align-items-center justify-content-center">
    <div class="row mx-0 w-100 no-gutters align-items-start justify-content-center">
      <div class="col-12 nb-explanation-text py-5">
        Learn, understand, apply.
        <br>Pick a category and get started.
      </div>
    </div>
  </div>


  <div class="row mx-0 w-100 align-items-center justify-content-left">

    <div *ngFor="let category of allCategories; let i = index" class="nb-category col-lg-3 col-6" [ngStyle]="{'background-color': bgColors[i] }">
      <a class="w-100 h-100" [routerLink]="categorySelected(category.name)">
        <div class="w-100 h-100">
          <h4 class="font-weight-bold">{{ category.name | titlecase }}</h4>
          <p class="mt-4">{{ category.description }}</p>
          <img src="../../../../assets/images/fi-long-right-arrow.svg" alt="">
        </div>
      </a>
    </div>

  </div>

</div>
<app-footer></app-footer>