@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  .nb-explanation-text {
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: block;
    text-align: center;
    text-shadow: 1px 1px white;
    font-weight: bold;
    color: $black;
    font-size: 21px;

    @include media-breakpoint-down(xs) {
      font-size: 17px;
    }
  }

  .nb-category {
    height: 69vh;
    min-height: 490px;
    padding-top: 35px;
    cursor: pointer;
    padding-left: 4%;
    padding-right: 4%;
    color: white;

    a {
      text-decoration: none;
      color: inherit;
    }

    p {
      text-align: justify;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    img {
      position: absolute;
      bottom: 3%;
      right: 5%;
      width: 10%;
      display: none;
      @include sliding-animation(.2s, 'left', 0);
    }

    @include media-breakpoint-down(xs) {
      height: 37vh;
      min-height: 160px;
      padding: 0;

      h4 {
        font-size: 1.3rem;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    &:hover() {
      opacity: .9;

      img {
        display: block;
      }
    }
  }
}