@import "../../../assets/scss/variables";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/cssUtils";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// DT = Desktop | MB = Mobile
$colour: $main-color;

.navbar-appear {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 50px !important;
  background-color: rgba(white, 0.95);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: black !important;
}

.nb-main-row {
  $DT-navbar-height: $desktop-navbar-height;
  $DT-btn-height: $btn-height;
  $top-spacing: calc((#{$DT-navbar-height} - #{$DT-btn-height})/2);
  position: fixed;
  top: 0;
  z-index: 10;
  height: $DT-navbar-height;
  width: 100vw;
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 70px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: space-between;
  transition: background-color .5s ease-in-out, padding-left .4s ease-in-out, padding-top .4s ease-in-out, padding-right .4s ease-in-out, box-shadow .4s ease-in-out;

  @include media-breakpoint-down(md) {
    font-size: 13px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    display: inline;
    line-height: $DT-navbar-height;
  }

  .nb-logo-section {
    display: inline-flex;

    #logo {
      img {
        $h: calc(#{$DT-navbar-height} * .63);
        $mt: calc((#{$DT-navbar-height} - #{$h})/2);
        @include vendor-prefix(transform-origin, 50% 50%);
        transition: transform .2s ease-in-out;
        cursor: pointer;
        margin-left: 20px;
        height: $h;
        margin-top: $mt;

        &:hover {
          @include vendor-prefix(transform, scale(1.02));
        }
      }
    }
  }

  .nb-menu-section {
    display: inline-flex;
    justify-content: space-between;
    font-weight: bold;
    width: 340px;

    @include media-breakpoint-down(md) {
      width: 295px;
    }

    li {
      div {
        @include nb-btn(inherit, $DT-btn-height);
        border: 2px solid transparent;
      }

      .nb-active-page {
        color: $colour;
      }
    }
  }
}

// MB - Mobile
@media (max-width: $navbar-breakpoint) {
  .nb-main-row {
    display: none !important;
  }
}