<nav class="nb-main-row" [ngClass]="{'navbar-appear': isBgFilled}">
  <span class="nb-logo-section">
    <a [routerLink]="navigationAway('homepage')">
      <div id="logo">
        <img *ngIf="!isBgFilled" src="../../../assets/images/logo/hor-wobg-white.png">
        <img *ngIf="isBgFilled" src="../../../assets/images/logo/hor-wobg-black.png">
      </div>
    </a>

  </span>
  <div class="nb-menu-section">
    <li>
      <a [routerLink]="navigationAway('about')">
        <div class="hover-on-menu-item-animation" [ngClass]="{'nb-active-page': activePage('about')}">About</div>
      </a>
    </li>
    <li>
      <a [routerLink]="navigationAway('learning')">
        <div class="hover-on-menu-item-animation" [ngClass]="{'nb-active-page': activePage('learning')}">Learning</div>
      </a>
    </li>
    <li>
      <a [routerLink]="navigationAway('specialists')">
        <div class="hover-on-menu-item-animation" [ngClass]="{'nb-active-page': activePage('specialist')}">Specialists</div>
      </a>
    </li>
    <li>
      <a [routerLink]="navigationAway('tools')">
        <div class="hover-on-menu-item-animation" [ngClass]="{'nb-active-page': activePage('tools')}">Tools</div>
      </a>
    </li>
  </div>
</nav>