@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
$header-height: 40px;
$color-selected: $main-color;
$color-unselected: gray;
$bg-selected: $lightgray;
$bg-unselected: lightgray;

.nb-modal-header {
  @include nb-border-radius-top($btn-border-radius);
  padding: 0;
  background-color: transparent;

  div:not(#nb-close-btn) {
    text-transform: uppercase;
    color: $color-unselected;
    background-color: $bg-unselected;
    display: inline-block;
    @include nb-btn(calc((100% - #{$header-height}) / 2), $header-height);
    border-radius: 0;
    transition: all .3s ease-in-out;
    transition-delay: .2s;

    &:first-of-type {
      border-top-left-radius: $btn-border-radius;
    }

    &:hover {
      cursor: pointer;
      color: $color-selected;
      font-weight: bold;
    }

    &.nb-highlighted {
      @include nb-border-radius-top($btn-border-radius);
      height: calc(#{$header-height} + 9px);
      @include vendor-prefix(transform, translateY(-8px));
      background-color: $bg-selected;
      color: $color-selected;
      font-weight: bold;
    }
  }

  #nb-close-btn {
    @include nb-btn($header-height, $header-height);
    background-color: $bg-unselected;
    @include nb-border-radius-bottom(0);
    border-top-left-radius: 0;
    font-weight: bold;
    font-size: 18px;
    float: right;
    border-left: 1px solid $bg-selected;

    &:hover {
      cursor: pointer;
      background-color: $bg-selected;
      color: $color-selected;
    }
  }
}

.modal-body {
  border-radius: $btn-border-radius;
  background-color: $lightgray;

  .nb-link {
    text-decoration: underline;

    &:hover {
      color: $color-selected;
      cursor: pointer;
    }
  }

  .nb-login-section,
  .nb-signup-section {
    @include fade-in-animation(1s, 0);

    .nb-field {
      width: fit-content;
    }

    label,
    .nb-label {
      font-size: 13px;
      margin-bottom: 0;
      color: $color-unselected;
    }

    input {
      @include nb-btn(280px, $header-height);
      display: block;
      outline: none;
      background-color: white;
      text-align: left;
      padding-left: 15px;
      font-size: 16px;
      border: 1.5px solid rgba($color-selected, 0);
      box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
      transition: border .7s ease-in-out;

      &:focus {
        border: 1.5px solid rgba($color-selected, 1);
      }
    }

    .nb-invalid {
      &:focus {
        border: 1.5px solid red;
      }

      border: 1.5px solid red;
    }

    small {
      color: red;
    }

    .nb-login-btn {
      @include nb-btn(280px, $btn-height);
      background-color: $color-selected;
      color: $bg-selected;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      transition: box-shadow .6s ease-in-out, transform .3s ease-in-out;

      &:hover {
        cursor: pointer;
        box-shadow: -6px 10px 20px rgba(0, 0, 0, .2);
        @include vendor-prefix(transform, scale(1.05));
      }
    }

    #nb-disclaimer {
      display: block;
      margin: 10px auto;
      color: gray;
      width: 273px;
      text-align: center;

      a {
        color: $main-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .nb-auth-option {
    width: 55%;
    transition: transform .3s ease-in-out;
    display: block;

    &:hover {
      @include vendor-prefix(transform, scale(1.2));
      cursor: pointer;
    }
  }
}