<div class="modal-body p-0">
  <div class="nb-modal-header">
    <div [ngClass]="{'nb-highlighted': !stateControl.toSignup}" (click)="switchPortal('login')">login</div>
    <div [ngClass]="{'nb-highlighted': stateControl.toSignup}" (click)="switchPortal('signup')">signup</div>
    <div (click)="bsModalRef.hide()" id="nb-close-btn">X</div>
  </div>


  <!-- LOGIN SECTION -->
  <form [formGroup]="loginForm" *ngIf="!stateControl.toSignup && loginForm" class="nb-login-section p-2" novalidate>

    <div *ngIf="authOption === 'unselected'">
      <h4 class="pl-2 mb-3 text-center">How would you like to login?</h4>
      <div class="row mx-0 mb-5 w-100 justify-items-center justify-content-center">
        <div class="col-sm-4 col-6 my-3">
          <img class="nb-auth-option mx-auto" src="../../../assets/images/fi-facebook.svg">
          <div class="mt-3 text-center">Facebook</div>
        </div>
        <div class="col-sm-4 col-6 my-3">
          <img class="nb-auth-option mx-auto" src="../../../assets/images/fi-google-plus.svg">
          <div class="mt-3 text-center">Google Plus</div>
        </div>
        <div class="col-sm-4 col-6 my-3" (click)="authOption = 'form'">
          <img class="nb-auth-option mx-auto" src="../../../assets/images/fi-form.svg">
          <div class="mt-3 text-center">Login Form</div>
        </div>
      </div>
    </div>

    <div *ngIf="authOption === 'form'">
      <h4 class="pl-2 mb-3 text-center">Welcome back!</h4>
      <div class="mx-auto nb-field mb-3">
        <label for="email">Email</label>
        <input name="email" type="email" formControlName="email" [ngClass]="{'nb-invalid': validationState.email}">
        <small *ngIf="validationState.email">Please enter a valid email (ex. you@awesome.com)</small>
      </div>
      <div class="mx-auto nb-field mb-2">
        <label for="password">Password</label>
        <input name="password" type="password" formControlName="password" [ngClass]="{'nb-invalid': validationState.password}">
        <small *ngIf="validationState.password">Password must be 8 characters minimum</small>
      </div>
      <div class="nb-label text-center">Forgot password?
        <span class="nb-link" (click)="resetpw()">Click here</span>
      </div>
      <div class="nb-login-btn mx-auto mb-5 mt-4" (click)="login()">login</div>
    </div>

    <div class="nb-label pl-2 mb-2">Not a member yet?
      <span class="nb-link" (click)="switchPortal('signup')">Signup here</span>
    </div>
  </form>


  <!-- SIGNUP SECTION -->
  <form [formGroup]="signupForm" *ngIf="stateControl.toSignup && signupForm" class="nb-signup-section p-2" novalidate>

    <div *ngIf="authOption === 'unselected'">
      <h4 class="pl-2 mb-3 text-center">How would you like to signup?</h4>
      <div class="row mx-0 mb-5 w-100 justify-items-center justify-content-center">
        <div class="col-sm-4 col-6 my-3">
          <!-- <a href="http://localhost:4200/api/social-auth/facebook">
            <img class="nb-auth-option mx-auto" src="../../../assets/images/fi-facebook.svg">
          </a> -->
          <img class="nb-auth-option mx-auto" src="../../../assets/images/fi-facebook.svg">
          <div class="mt-3 text-center">Facebook</div>
        </div>
        <div class="col-sm-4 col-6 my-3">
          <img class="nb-auth-option mx-auto" src="../../../assets/images/fi-google-plus.svg">
          <div class="mt-3 text-center">Google Plus</div>
        </div>
        <div class="col-sm-4 col-6 my-3" (click)="authOption = 'form'">
          <img class="nb-auth-option mx-auto" src="../../../assets/images/fi-form.svg">
          <div class="mt-3 text-center">Signup Form</div>
        </div>
      </div>
    </div>

    <div *ngIf="authOption === 'form'">
      <h4 class="pl-2 mb-3 text-center">Be seen by the right people</h4>
      <div class="mx-auto nb-field mb-3">
        <label for="firstName">First name</label>
        <input name="firstName" type="text" formControlName="firstName" [ngClass]="{'nb-invalid': validationState.firstName}">
        <small *ngIf="validationState.firstName">This field is required</small>
      </div>
      <div class="mx-auto nb-field mb-3">
        <label for="email">Email</label>
        <input name="email" type="email" formControlName="email" [ngClass]="{'nb-invalid': validationState.email}">
        <small *ngIf="validationState.email">Please enter a valid email (ex. you@awesome.com)</small>
      </div>
      <div class="mx-auto nb-field mb-2">
        <label for="password">Password (min 8 characters)</label>
        <input name="password" type="password" formControlName="password" [ngClass]="{'nb-invalid': validationState.password}">
        <small *ngIf="validationState.password">Password must be 8 characters minimum</small>
      </div>
      <div class="mx-auto nb-field mb-2">
        <label for="password">Password Confirmation</label>
        <input name="password" type="password" formControlName="passwordConfirmation" [ngClass]="{'nb-invalid': validationState.passwordConfirmation}">
        <small *ngIf="validationState.passwordConfirmation">Passwords don't match</small>
      </div>
      <div class="nb-login-btn mx-auto mt-4" (click)="signup()">sign up</div>
      <small *ngIf="signupForm.valid" id="nb-disclaimer"> By clicking the “SIGN UP” button, I
        expressly agree to the mvmtribe
        <a href="http://localhost:4200/terms-of-use" target="_blank">Terms of Use</a>
        and understand that my
        account information will be used according to mvmtribe
        <a href="http://localhost:4200/privacy-policy" target="_blank">Privacy Policy</a>
      </small>
    </div>

    <div class="nb-label pl-2 mb-2 mt-5">Already a member?
      <span class="nb-link" (click)="switchPortal('login')">Login here</span>
    </div>
  </form>
</div>