<div class="row mx-0 pb-4 no-gutters align-items-start justify-content-center">
  <div id="nb-container-col" class="col-xl-10 col-lg-11 col-md-8 col-sm-9 col-12">
    <div class="row mx-0 no-gutters align-items-start justify-content-left">


      <div *ngFor="let article of articlesList" class="col-lg-6 col-12">
        <a href="{{goToArticle(article)}}">
          <div class="card">
            <div class="card-img-top" [ngStyle]="{ 'background-image': 'url(' + article.bgImgUrl + ')' }">
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{ article.title }}</h5>
              <span class="nb-features">
                <div class="border-right">
                  <img id="nb-first-icon" src="../../../../assets/images/icon-levels.svg">{{ article.difficultyLevel }}</div>
                <div>
                  <img src="../../../../assets/images/icon-open-book.svg">{{ article.readTime + ' min read' }}</div>
              </span>
            </div>
          </div>
        </a>
      </div>


    </div>
  </div>
</div>