@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
#nb-container-col {
  padding-top: 3rem;
  @include media-breakpoint-down(xs) {
    padding-top: 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
.card {
  margin: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  transition: transform 200ms ease-in-out, box-shadow 300ms ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.15);
    transform: scale(1.009);
  }
  .card-img-top {
    @include vendor-prefix(background-position, center);
    @include vendor-prefix(background-size, cover);
    height: 56vh;
    max-height: 275px;
    min-height: 200px;
    @include media-breakpoint-down(xs) {
      max-height: 230px;
    }
  }
  .nb-features {
    float: right;
    div {
      display: inline-block;
      color: gray;
      padding: 0 8px;
      font-size: 14px;
      font-weight: bold;
      img {
        margin-right: 5px;
        width: 16px;
        height: inherit;
        &#nb-first-icon {
          transform-origin: top;
          transform: scale(.8);
        }
      }
    }
  }
}
