@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$colour: $main-color;
.nb-container {
    background-color: $lightgray;
    height: 100vh;
    width: 100%;
    h4 {
        position: absolute;
        top: 10%;
        right: 0;
        left: 0;
        margin: auto;
    }
    #main-img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 400px;
        @include media-breakpoint-down(xs) {
            width: 210px;
        }
    }
    .nb-home {
        @include nb-border-radius-top(50px); 
        cursor: pointer;
        position: absolute;
        bottom: 0%;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        img {
            width: 40px;
            display: block;
            margin-bottom: 10px;
        }
        &:hover {
            background-color: #FFC850;
        }
        @media (max-width: $navbar-breakpoint) {
            background-color: #FFC850;
        }
    }
  }