<div class="nb-container px-0">
  <h4 class="text-center">Pretty sure this isn't the page you are looking for...</h4>
  <img id="main-img" src="../../../assets/images/fi-404-error.svg" alt="">
  <div class="nb-home border px-4 pt-4" (click)="routerLink.navigate(['homepage'])">
    <img class="mx-auto text-center" src="../../../assets/images/fi-home.svg" alt="">
    <h6 class="text-center">Go home</h6>
  </div>
</div>