@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @include media-breakpoint-down(xs) {
$colour: $pro-color;

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  #nb-incomplete-profile {
    img {
      width: 21px;
      margin-right: 5px;
    }
  }

  #nb-container {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: .25rem;


    #nb-img-label {
      width: 100%;
      margin: 0 auto;

      .nb-img-container {
        $img-size: 160px;

        input[type="file"] {
          display: none;
        }

        .nb-img-thumbnail {
          @include vendor-prefix(background-size, cover);
          @include vendor-prefix(background-position, center);
          width: $img-size;
          height: $img-size;
          border-radius: 50%;
          border: 5px solid white;
          margin-left: auto;
          margin-right: auto;

          .nb-highlighted {
            opacity: 0;
            width: calc(#{$img-size} - 10px);
            height: calc(#{$img-size} - 10px);
            line-height: calc(#{$img-size} - 10px);
            text-align: center;
            border-radius: 50%;
            background-color: rgba(black, .6);
            color: white;
            transition: opacity .4s ease-in-out;

            &:hover {
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }
    }

    .nb-tabset {
      margin: 20px 15%;
      border-bottom: 1px solid lightgray;

      @include media-breakpoint-down(xs) {
        margin: 20px 10%;
        font-size: 15px;
      }

      .nb-tab-container {
        width: fit-content;
        margin: 0 auto;
      }

      .nb-tab {
        display: inline-block;
        width: fit-content;
        color: $colour;
        font-weight: bold;
        border-bottom: 2px solid $colour;
        text-align: center;
      }

      svg {
        width: 20px;
        height: 20px;
        display: inline-block;
        @include vendor-prefix(transform, translateY(5px));

        g path {
          fill: $colour;
        }

        &:first-of-type {
          @include vendor-prefix(transform, rotate(180deg) translateY(-5px));
        }

        &:hover {
          cursor: pointer;
        }
      }

      .nb-transparent-svg {
        &:hover {
          cursor: unset;
        }

        g path {
          fill: transparent;
        }
      }
    }

    // ===================================================================================
    .nb-form {
      @include fade-in-animation(1s,
      0);

      .nb-field {
        width: fit-content;
      }

      label,
      .nb-label {
        font-size: 13px;
        margin-bottom: 0;
        color: gray;
      }

      .nb-field input,
      .spe {
        @include nb-btn(280px,
        40px);
        display: block;
        outline: none;
        background-color: white;
        text-align: left;
        padding-left: 15px;
        font-size: 16px;
        border: 1.5px solid rgba($colour, 0);
        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
        transition: border .7s ease-in-out;

        &:focus {
          border: 1.5px solid rgba($colour, 1);
        }
      }

      .spe {
        @include vendor-prefix(appearance, none);
        @include vendor-prefix(background-image, url("../../../assets/images/icon-down-arrow.svg"));
        @include vendor-prefix(background-size, 26px $btn-height);
        @include vendor-prefix(background-repeat, no-repeat);
        @include vendor-prefix(background-position, right);
        @include vendor-prefix(background-position-x, 98%);
      }

      .nb-field .div-ul {
        // same as form-field: padding-left ; li width and height
        margin-top: 15px;
        list-style: none;
        border-radius: $btn-border-radius;
        width: fit-content;
        background-color: white;
        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

        li {
          width: 280px;
          margin: 0 auto;
          height: $btn-height;
          line-height: $btn-height;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0 15px;
          border-bottom: 1px solid lightgray;

          &:last-of-type {
            border-bottom: none;
            @include nb-border-radius-bottom($btn-border-radius);
          }

          &:first-of-type {
            @include nb-border-radius-top($btn-border-radius);
          }

          &:hover {
            cursor: pointer;
            background-color: rgba(gray, .14);
            color: $colour;
            font-size: bold;
          }
        }
      }

      .nb-invalid {
        &:focus {
          border: 1.5px solid red !important;
        }

        border: 1.5px solid red !important;
      }

      small {
        color: red;
      }

      .nb-checkbox-input,
      .nb-radio-input {
        width: 280px;

        div {
          height: 40px;
          line-height: 40px;
          text-transform: capitalize;

          &:hover {
            color: $colour;
          }
        }

        input {
          @include vendor-prefix(transform, translateY(4px));
          height: 19px;
          width: 19px;
          margin-right: 15px;
        }
      }

      .nb-bio {
        width: 80%;
        min-width: 280px;

        textarea {
          min-height: 180px;
          margin-top: 6px;
          resize: none;
          width: 100%;
          outline: none;
          background-color: white;
          text-align: left;
          padding-left: 15px;
          font-size: 16px;
          border: 1.5px solid rgba($colour, 0);
          box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
          transition: border .7s ease-in-out;

          &:focus {
            border: 1.5px solid rgba($colour, 1);
          }

          border-radius: $btn-border-radius;
        }
      }

      .nb-login-btn {
        @include nb-btn(280px,
        $btn-height);
        background-color: $colour;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        transition: transform .4s ease-out;
        cursor: pointer;

        &:hover {
          @include vendor-prefix(transform-origin, 50% 50%);
          @include vendor-prefix(transform, scale(1.05));
        }
      }
    }
  }
}

#copyright {
  color: white;
  background-color: $black;

  @media (max-width: $navbar-breakpoint) {
    margin-bottom: $mobile-navbar-height;
  }
}