<app-pro-navbar></app-pro-navbar>
<div class="container-fluid p-0">
  <div class="row mx-0 no-gutters align-items-start justify-content-center">
    <div class="col-12 px-3 pt-3">
      <h3>Profile</h3>
      <div *ngIf="currentUser['full'] && currentUser['full']['completeProfile'] == false" id="nb-incomplete-profile" class="animated fadeInUp delay-5s mb-4">
        <img src="../../../assets/images/fi-info.svg" alt="">
        Hey! Just so you know your card won't be publicly visible until you complete your profile
      </div>
    </div>
    <div id="nb-container" class="col-lg-6 col-md-8 col-sm-10 col-12 mt-3 mb-5 border">
      <progressbar [value]="profileCompletionPercentage.value" [animate]="true">{{ profileCompletionPercentage.text }}</progressbar>
      <label id="nb-img-label">
        <div class="nb-img-container py-4 w-100">
          <div class="nb-img-thumbnail" [ngStyle]="{'background-image': 'url(' + pictureUrl + ')'}">
            <div class="nb-highlighted">UPLOAD NEW</div>
          </div>
          <input type="file" accept="image/*" (change)="uploadPicture()" #pictureFile>
        </div>
      </label>


      <div class="nb-tabset">
        <div class="nb-tab-container">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"
            enable-background="new 0 0 129 129" width="512px" height="512px" (click)="tabControl('back')" [ngClass]="{'nb-transparent-svg': currentTab === 1}">
            <g>
              <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"
                fill="deeppink" />
            </g>
          </svg>

          <div class="nb-tab nb-current-tab mx-4 px-2">{{ formSection }}</div>

          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"
            enable-background="new 0 0 129 129" width="512px" height="512px" (click)="tabControl('next')" [ngClass]="{'nb-transparent-svg': currentTab === 3}">
            <g>
              <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"
                fill="deeppink" />
            </g>
          </svg>
        </div>
      </div>


      <form [formGroup]="profile" *ngIf="profile" class="nb-form p-2" novalidate>

        <fieldset formGroupName="personal" [hidden]="currentTab !== 1">
          <div class="mx-auto nb-field mb-3">
            <label for="firstName">First name</label>
            <input class="text-capitalize" name="firstName" type="text" formControlName="firstName" [ngClass]="{'nb-invalid': validationState.firstName}">
            <small *ngIf="validationState.firstName">This field is required</small>
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="lastName">Last name</label>
            <input class="text-capitalize" name="lastName" type="text" formControlName="lastName" [ngClass]="{'nb-invalid': validationState.lastName}">
            <small *ngIf="validationState.lastName">This field is required</small>
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="email">Email (eg. johndoe@gmail.com)</label>
            <input name="email" type="email" formControlName="email" [ngClass]="{'nb-invalid': validationState.email}">
            <small *ngIf="validationState.email">Please enter a valid email (ex. you@awesome.com)</small>
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="website">Website or social media URL</label>
            <input name="website" type="text" formControlName="website">
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="email">Phone number</label>
            <input name="phone" type="text" formControlName="phone" [ngClass]="{'nb-invalid': validationState.phone}">
            <small *ngIf="validationState.phone">Enter a valid phone number (ex. 999-999-9999)</small>
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="email">City (eg. New York, USA)</label>
            <input autocomplete="off" class="nb-form-field" type="text" [formControl]="cityFromAutocomplete"
              placeholder="{{ profile.controls.personal.controls.city.value || 'Enter a city' }}" [ngClass]="{'nb-invalid': validationState.city}"
              name="city">
            <small *ngIf="validationState.city">Please select a city (ex. Toronto, ON, Canada)</small>
            <div class="div-ul" *ngIf="cityFromAutocomplete">
              <li *ngFor="let city of resultCities" (click)="selectedCity(city)">{{ city }}</li>
            </div>
          </div>
          <div class="nb-checkbox-input mx-auto mt-4 mb-3">
            <label class="mb-1" for="langs">What languages do you speak?</label>
            <br>
            <small *ngIf="validationState.languages">You must select at least one language</small>
            <div *ngFor="let lang of profile.controls.personal.controls.languages.controls; let i = index">
              <input name="langs" [formControl]="lang" [value]=lang.value type="checkbox"> {{ langs[i] }}
            </div>
          </div>
        </fieldset>

        <fieldset formGroupName="professional" [hidden]="currentTab !== 2">
          <div class="mx-auto nb-field mb-3">
            <label for="jobTitle">Job Title (ex. physiotherapist, ...)</label>
            <input class="text-capitalize" name="jobTitle" type="text" formControlName="jobTitle" [ngClass]="{'nb-invalid': validationState.jobTitle}">
            <small *ngIf="validationState.jobTitle">This field is required</small>
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="specialty">Main Specialty </label>
            <select class="spe" name="secondSpecialty" formControlName="mainSpecialty" [ngClass]="{'nb-invalid': validationState.mainSpecialty}">
              <option value="">Choose one</option>
              <option *ngFor="let spe of specialties" [value]=spe> {{ spe | titlecase }} </option>
            </select>
            <small *ngIf="validationState.mainSpecialty">You must pick a main specialty</small>
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="specialty">Secondary Specialty (optional)</label>
            <select class="spe" name="secondSpecialty" formControlName="secondSpecialty">
              <option value="">Choose one</option>
              <option *ngFor="let spe of specialties" [value]=spe> {{ spe | titlecase }} </option>
            </select>
          </div>
          <div class="mx-auto nb-field mb-3">
            <label for="institution">Institution (ex. Gold's Gym)</label>
            <input class="text-capitalize" name="institution" type="text" placeholder="leave blank if you are independant"
              formControlName="institution">
          </div>
          <div class="mx-auto mb-3 nb-radio-input">
            <label for="flexible">Are you willing to go to a client's location?</label>
            <br>
            <input name="flexible" type="radio" formControlName="flexible" value="yes"> Yes
            <br>
            <input name="flexible" type="radio" formControlName="flexible" value="no"> No
            <br>
          </div>
        </fieldset>

        <div class="mx-auto mb-5 nb-bio" [hidden]="currentTab !== 3">
          <label for="bio">Write a short bio below</label>
          <br>
          <textarea class="pt-2 pr-2" maxlength="{{maxChars}}" name="bio" formControlName="bio" placeholder="Write something fun, show your personality."></textarea>
          <div *ngIf="profile.controls.bio.value && profile.controls.bio.value.length >= maxChars" class="float-right nb-label">({{maxChars}}
            characters max)</div>
        </div>


        <div class="nb-login-btn mx-auto my-4" (click)="save()">{{ btnText() }}</div>
      </form>
    </div>
  </div>
</div>


<div id="copyright" class="row mx-0 w-100 no-gutters align-items-start justify-content-center py-3">
  <div class="col-12 text-center">Copyright © 2018 MVMTribe inc. All rights reserved.</div>
</div>