<div id="main-row" class="row mx-0 mb-4 no-gutters align-items-start justify-content-right">
  <button id="logout-btn" type="button" class="btn btn-outline-dark btn-sm mt-2 mr-3 d-block" (click)="logout()">logout</button>
  <div class="row w-100 mx-0 no-gutters align-items-center justify-content-center">


    <div *ngIf="selectedOption === 'none'" class="col-lg-5 col-sm-8 px-3">
      <div class="list-group d-block">
        <div (click)="selected('specialties')" class="list-group-item list-group-item-action">Specialties</div>
        <div (click)="selected('blog categories')" class="list-group-item list-group-item-action">Blog Categories</div>
        <div (click)="selected('specialists')" class="list-group-item list-group-item-action">Specialists</div>
        <div (click)="selected('tools')" class="list-group-item list-group-item-action">Tools</div>
        <div (click)="selected('articles')" class="list-group-item list-group-item-action">Articles</div>
      </div>
    </div>


    <!-- SECTION 1: Specialties -->
    <div *ngIf="selectedOption === 'specialties'" class="col-lg-5 col-sm-8 px-3">
      <h4>{{ selectedOption | uppercase }} <span id="back-link" (click)="goBackToMenu()">(back)</span></h4>

      <button *ngIf="!addNewClicked" (click)="addNewClicked = true" type="button" class="btn btn-outline-dark btn-sm mt-2 mb-5 d-block">Add
        new</button>
      <div *ngIf="addNewClicked" class="input-group mt-2 mb-5">
        <input type="text" class="form-control" [(ngModel)]="speNewValue">
        <div class="input-group-append" (click)="addNewEntry()">
          <span class="input-group-text">save</span>
        </div>
      </div>

      <div *ngIf="editBtnClicked" class="input-group mt-2 mb-5">
        <input type="text" class="form-control" [(ngModel)]="editSpe.newValue">
        <div class="input-group-append" (click)="editEntry(2,'')">
          <span class="input-group-text">save</span>
        </div>
      </div>

      <div *ngFor="let item of items" class="input-group mb-2">
        <div class="form-control">{{item}}</div>
        <div class="input-group-append">
          <span (click)="editEntry(1, item)" class="input-group-text"><img src="../../../assets/images/fi-edit.svg" alt=""></span>
          <span (click)="deleteEntry(item)" class="input-group-text"><img src="../../../assets/images/fi-bin.svg" alt=""></span>
        </div>
      </div>
    </div>


    <!-- SECTION 2: Blog Categories -->
    <div *ngIf="selectedOption === 'blog categories'" class="col-lg-5 col-sm-8 px-3">
      <h4>{{ selectedOption | uppercase }} <span id="back-link" (click)="goBackToMenu()">(back)</span></h4>

      <button *ngIf="categoryStateControl === 'none'" (click)="categoryStateControl = 'new'" type="button" class="btn btn-outline-dark btn-sm mt-2 mb-5 d-block">Add
        new</button>

      <div *ngIf="categoryStateControl === 'new' || categoryStateControl === 'edit'" class="px-2 mb-5 border">
        <h4 class="text-center">{{ categoryStateControl | titlecase }}</h4>
        <hr class="w-75">
        <div class="form-group">
          <label for="name">Category Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="categoryElement.name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" maxlength="320" rows="3" [(ngModel)]="categoryElement.description"></textarea>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm mt-2 mb-5 d-block" (click)="categoryCRUD('','')">save</button>
      </div>

      <div *ngFor="let item of items" class="input-group mb-2">
        <div class="form-control">{{item.name}}</div>
        <div class="input-group-append">
          <span (click)="categoryAutocomplete(item)" class="input-group-text"><img src="../../../assets/images/fi-edit.svg"
              alt=""></span>
          <span (click)="categoryCRUD('delete', item)" class="input-group-text"><img src="../../../assets/images/fi-bin.svg"
              alt=""></span>
        </div>
      </div>
    </div>


    <!-- SECTION 3: Tools -->
    <div *ngIf="selectedOption === 'tools'" class="col-lg-5 col-sm-8 px-3">
      <h4>{{ selectedOption | uppercase }} <span id="back-link" (click)="goBackToMenu()">(back)</span></h4>

      <button *ngIf="toolFormType === 'none'" (click)="toolFormType = 'create'" type="button" class="btn btn-outline-dark btn-sm mt-2 mb-5 d-block">Add
        new</button>

      <form *ngIf="toolFormType === 'create' || toolFormType === 'edit'" name="toolDetails" class="px-3 mb-4">
        <h4 class="text-center">{{ toolFormType | titlecase }}</h4>
        <hr class="w-75">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="toolPlaceholder.name" [value]="toolPlaceholder.name">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" name="price" [(ngModel)]="toolPlaceholder.price" [value]="toolPlaceholder.price">
        </div>
        <div class="form-group">
          <label for="picURL">Picture Upload</label>
          <input type="file" name="pic" accept="image/*" (change)="uploadPicture()" #pictureFile>
        </div>
        <div class="form-group">
          <label for="pictureURL">Picture URL</label>
          <input type="text" class="form-control" id="pictureURL" name="pictureURL" [(ngModel)]="toolPlaceholder.pictureURL"
            [value]="toolPlaceholder.pictureURL">
        </div>
        <div class="form-group">
          <label for="amazonURL">Amazon URL</label>
          <input type="text" class="form-control" id="amazonURL" name="amazonURL" [(ngModel)]="toolPlaceholder.amazonURL"
            [value]="toolPlaceholder.amazonURL">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="toolPlaceholder.isOwnBrand" id="isOwnBrand" name="isOwnBrand"
              [(ngModel)]="toolPlaceholder.isOwnBrand">
            <label class="form-check-label" for="isOwnBrand">
              Is it our own brand?
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="toolPlaceholder.isNew" id="isNew" name="isNew"
              [(ngModel)]="toolPlaceholder.isNew">
            <label class="form-check-label" for="isNew">
              Is it new?
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="toolPlaceholder.isOnSale" id="isOnSale" name="isOnSale"
              [(ngModel)]="toolPlaceholder.isOnSale">
            <label class="form-check-label" for="isOnSale">
              Is it on sale?
            </label>
          </div>
        </div>
        <button (click)="processForm('','')" type="button" class="btn btn-outline-dark mt-4 mb-3 mx-auto w-25 d-block">submit</button>
      </form>

      <div *ngFor="let item of items" class="input-group mb-2">
        <div class="form-control">{{item.name}}</div>
        <div class="input-group-append">
          <span (click)="editProductFormAutocomplete(item)" class="input-group-text"><img src="../../../assets/images/fi-edit.svg"
              alt=""></span>
          <span (click)="processForm('delete', item)" class="input-group-text"><img src="../../../assets/images/fi-bin.svg"
              alt=""></span>
        </div>
      </div>
    </div>


    <!-- SECTION 4: Specialists -->
    <div *ngIf="selectedOption === 'specialists'" class="col-lg-5 col-sm-8 px-3">
      <h4>{{ selectedOption | uppercase }} <span id="back-link" (click)="goBackToMenu()">(back)</span></h4>

      <div class="input-group my-3" id="email">
        <input type="email" [(ngModel)]="proEmail" class="form-control" placeholder="Email" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="proRD('read')">search</button>
        </div>
      </div>
      <hr class="mb-2">

      <div *ngIf="proFound" class="border rounded px-2">
        <h5>Found:</h5>
        <small>firstName</small>
        <div>{{ proFound.firstName }}</div>
        <small>lastName</small>
        <div>{{ proFound.lastName }}</div>
        <small>Job Title</small>
        <div>{{ proFound.jobTitle }}</div>
        <small>Main Specialty</small>
        <div>{{ proFound.mainSpecialty }}</div>
        <small>Email</small>
        <div>{{ proFound.email }}</div>

        <button class="btn btn-outline-secondary d-block mx-auto mt-5 mb-3" type="button" (click)="proRD('delete')">delete</button>

      </div>
    </div>


    <!-- SECTION 5: Articles -->
    <div *ngIf="selectedOption === 'articles'" class="col-lg-5 col-sm-8 px-3">
      <h4>{{ selectedOption | uppercase }} <span id="back-link" (click)="goBackToMenu()">(back)</span></h4>

      <button *ngIf="articleStateControl === 'none'" (click)="articleStateControl = 'new'" type="button" class="btn btn-outline-dark btn-sm mt-2 mb-5 d-block">Add
        new</button>

      <div *ngIf="articleStateControl === 'new' || articleStateControl === 'edit'" class="px-2 mb-5 border">
        <h4 class="text-center">{{ articleStateControl | titlecase }}</h4>
        <hr class="w-75">

        <div class="form-group">
          <label for="title">Article title (Don't forget cap 1st letter)</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="articleElement.title">
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category" [(ngModel)]="articleElement.category">
            <option value="">Pick one</option>
            <option *ngFor="let cat of categories">{{cat}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bgImgUrl">Background image url</label>
          <input type="text" class="form-control" id="bgImgUrl" [(ngModel)]="articleElement.bgImgUrl">
        </div>
        <div class="form-group">
          <label for="contentFileUrl">Content file url</label>
          <input type="text" class="form-control" id="contentFileUrl" [(ngModel)]="articleElement.contentFileUrl">
        </div>
        <div class="form-group">
          <label for="readTime">Read time (in minutes)</label>
          <input type="number" class="form-control" id="readTime" [(ngModel)]="articleElement.readTime">
        </div>
        <div class="form-group">
          <label for="difficultyLevel">Difficulty level</label>
          <select class="form-control" id="difficultyLevel" [(ngModel)]="articleElement.difficultyLevel">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm mt-2 mb-5 d-block" (click)="articleCRUD('','')">save</button>
      </div>

      <hr class="mt-3">
      <div class="form-group">
          <h3 class="text-center">SEARCH BY</h3>
          <select class="form-control" id="searchBy" [(ngModel)]="searchBy" (change)="fetchArticles()">
              <option value="">Pick a category</option>
              <option *ngFor="let cat of categories">{{cat}}</option>
          </select>
        </div>
      <hr>
      <div *ngFor="let item of items" class="card mb-3 mr-2 d-inline-block border" style="width: 18rem;">
        <div class="card-imgg" [ngStyle]="{'background-image': 'url(' + item.bgImgUrl + ')'}"></div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <div>
            <img (click)="articleAutocomplete(item)" class="mr-3" src="../../../assets/images/fi-edit.svg" alt="">
            <img (click)="articleCRUD('delete', item)" src="../../../assets/images/fi-bin.svg" alt="">
          </div>
        </div>
      </div>

    </div>
















  </div>
</div>