@import '../../../assets/scss/cssUtils';

#main-row {
    min-height: 100vh;
    padding-top: 15%;
}

#logout-btn {
    position: absolute;
    top: 0;
    right: 0;
    
}

img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.card-imgg {
    width: 100%;
    height: 186px;
    @include vendor-prefix(background-position, center);
    @include vendor-prefix(background-size, cover);
}

#back-link {
 text-decoration: underline;
 cursor: pointer;
 font-size: 13px;
 &:hover {
     color: deepskyblue;
 }   
}


form {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid;
}