@import '../../../assets/scss/cssUtils';
.nb-intro-animation {
  background-color: black;
  width: 100vw;
  height: 100vh;

  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;

    @media (min-width: 1700px) {
      width: 400px;
    }

    @media (min-width: 1000px) and (max-width: 1699.98px) {
      width: 260px;
    }

    @media (min-width: 550px) and (max-width: 999.98px) {
      width: 240px;
    }

    @media (max-width: 549.98px) {
      width: 48%;
    }
    @include vendor-prefix(animation-name, fadeInOpacity);
    @include vendor-prefix(animation-iteration-count, 1);
    @include vendor-prefix(animation-timing-function, ease-in-out);
    @include vendor-prefix(animation-fill-mode, forwards);
    @include vendor-prefix(animation-duratio, .5s);
    @include vendor-prefix(animation-delay, 1s);

  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}