@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @include media-breakpoint-down(xs) {
$colour: $pro-color;

.container-fluid {
  height: 100vh;

  .nb-view2 {
    background-color: $black;

    h2 {
      color: white;
      @include fade-in-animation(1s, 0s);
    }

    .nb-signup-btn {
      @include fade-in-animation(1s, .3s);
      @include nb-btn(190px, 50px);
      @include nb-btn-styling('full', '$init-color', '$init-text-color', $colour, white);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

#copyright {
  color: white;
  background-color: $black;
  border-top: 1px solid lightgray;

  @media (max-width: $navbar-breakpoint) {
    margin-bottom: $mobile-navbar-height;
  }
}