<app-pro-navbar></app-pro-navbar>
<div class="container-fluid p-0">
  <div class="nb-view2 row mx-0 w-100 h-100 justify-content-center align-items-center text-center">
    <div class="col">
      <h2>Get more clients. <br class="d-sm-none d-block"> Get better clients. <br> Live from your passion.</h2>
      <div class="nb-signup-btn mx-auto mt-5" (click)="openLoginModal('pro', true)">signup for free</div>
    </div>
  </div>
</div>

<div id="copyright" class="row mx-0 w-100 no-gutters align-items-start justify-content-center py-3">
  <div class="col-12 text-center">Copyright © 2018 MVMTribe inc. All rights reserved.</div>
</div>
