@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$icons-border: 0;

.nb-socials-div {
  .icons-container {
    width: fit-content;

    @media (max-width: 359.98px) {
      width: 160px;
    }

    svg {
      @include vendor-prefix(transform-origin, 50% 50%);
      @include vendor-prefix(transform, scale(.7));
      display: inline-block;

      #circle-outer,
      #circle-inner,
      .icon {
        transition: all 300ms ease-out;
        @include vendor-prefix(transform-origin, 50% 50%);
      }

      #circle-outer,
      #circle-inner {
        stroke: black;
        rx: $icons-border;
        ry: $icons-border;
      }

      .icon {
        fill: black;
      }

      &:hover {
        cursor: pointer;

        #circle-outer {
          @include vendor-prefix(transform, scale(1.25));
        }

        .icon {
          fill: $lightgray;
        }

        #circle-inner {
          fill: black;
        }
      }
    }
  }
}

.nb-close-btn {
  border: 1px solid lightgray;
  border-radius: 45px;
  width: fit-content;
  color: gray;

  &:hover {
    color: white;
    background-color: gray;
    border-color: gray;
    cursor: pointer;
  }

}