<div class="modal-body p-0">
  <div id="social-sharing" class="nb-socials-div row mx-0 py-4 no-gutters align-items-center justify-content-center">
    <div class="col">
      <h6 class="text-center font-weight-bold">Share this article</h6>
      <div class="icons-container mx-auto">
        <svg shareButton="facebook" width="80" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <g>
            <rect rx="45" ry="45" id="circle-outer" height="56" width="56" y="12" x="12" stroke="#3b5998" fill="transparent" />
            <rect rx="45" ry="45" id="circle-inner" height="56" width="56" y="12" x="12" stroke="#3b5998" fill="transparent" />
            <path stroke="null" class="icon" id="fb-icon" d="m42.58948,34.99079l0,-3.00552c0,-1.30239 0.19919,-2.00368 2.19109,-2.00368l2.68907,0l0,-5.0092l-3.98381,0c-4.97976,0 -6.97167,3.30607 -6.97167,7.01288l0,3.00552l-3.98381,0l0,5.0092l3.98381,0l0,15.02761l5.97572,0l0,-15.02761l3.98381,0l0.19919,-5.0092l-4.97976,0l0.89636,0l0,0l-0.00002,0l0.00002,0z"
              fill="#3b5998" />
          </g>
        </svg>
        <svg shareButton="google" width="80" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <g stroke="null" id="Google_Plus">
            <rect rx="45" ry="45" id="circle-outer" height="56" width="56" y="12" x="12" stroke="#d34836" fill="transparent" />
            <rect rx="45" ry="45" id="circle-inner" height="56" width="56" y="12" x="12" stroke="#d34836" fill="transparent" />
            <path stroke="null" clip-rule="evenodd" d="m34.53739,38.07365l0,3.8527c0,0 3.65461,-0.00502 5.14275,-0.00502c-0.80584,2.49745 -2.05883,3.85748 -5.14275,3.85748c-3.12089,0 -5.55667,-2.58726 -5.55667,-5.77881s2.43578,-5.77881 5.55667,-5.77881c1.65006,0 2.71586,0.59307 3.69321,1.41974c0.78244,-0.80016 0.71716,-0.91433 2.70791,-2.83686c-1.68984,-1.57309 -3.93609,-2.53184 -6.40112,-2.53184c-5.25366,0 -9.51241,4.35525 -9.51241,9.72777c0,5.37253 4.25876,9.72777 9.51241,9.72777c7.85276,0 9.7719,-6.99243 9.1357,-11.65413l-9.1357,0l0,0l0,0.00001zm17.14125,0.19275l0,-3.37117l-2.35459,0l0,3.37094l-3.39067,0l0,2.40788l3.39067,0l0,3.46743l2.35459,0l0,-3.46719l3.29638,0l0,-2.40788l-3.29638,0l0,-0.00001z"
              fill="#d34836" fill-rule="evenodd" class="icon" id="gplus-icon" />
          </g>
        </svg>
        <svg shareButton="twitter" width="80" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <g>
            <rect rx="45" ry="45" id="circle-outer" height="56" width="56" y="12" x="12" stroke="#000000" fill="transparent" />
            <rect rx="45" ry="45" id="circle-inner" height="56" width="56" y="12" x="12" stroke="#000000" fill="transparent" />
            <path id="twitter-icon" class="icon" fill="#717171" d="m54.91391,31.65827c-1.0974,0.43897 -2.27684,0.73568 -3.51469,0.86891c1.26326,-0.68293 2.23376,-1.76427 2.69059,-3.0529c-1.18248,0.6324 -2.49207,1.0916 -3.88602,1.33902c-1.11623,-1.07247 -2.70666,-1.74247 -4.46679,-1.74247c-3.95001,0 -6.85374,3.32395 -5.961,6.77553c-5.08594,-0.23005 -9.59515,-2.42703 -12.61334,-5.7654c-1.60303,2.47965 -0.83148,5.72474 1.89377,7.36719c-1.00299,-0.02859 -1.94684,-0.27686 -2.77174,-0.69031c-0.06639,2.55662 1.96531,4.94721 4.9082,5.48044c-0.86124,0.21125 -1.80458,0.25976 -2.76341,0.09446c0.77857,2.19221 3.03867,3.7876 5.71652,3.83204c-2.5728,1.81807 -5.81317,2.63013 -9.05992,2.28504c2.70811,1.56542 5.92481,2.47931 9.38064,2.47931c11.3615,0 17.7805,-8.6534 17.3936,-16.41444c1.19579,-0.77798 2.23317,-1.74984 3.05358,-2.85645l0,0.00001z"
            />
          </g>
        </svg>
        <svg shareButton="linkedin" width="80" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <g>
            <rect fill="transparent" stroke="#000000" x="12" y="12" width="56" height="56" id="circle-outer" ry="45" rx="45" />
            <rect fill="transparent" stroke="#000000" x="12" y="12" width="56" height="56" id="circle-inner" ry="45" rx="45" />
            <path stroke="null" id="LinkedIn" class="icon" d="m53.00848,43.05555l0,10.45274l-5.57628,0l0,-9.75268c0,-2.44995 -0.80655,-4.12195 -2.82498,-4.12195c-1.54081,0 -2.45775,1.1268 -2.86115,2.2168c-0.14711,0.38967 -0.18497,0.93204 -0.18497,1.47749l0,10.18034l-5.57815,0c0,0 0.07512,-16.51783 0,-18.2292l5.5776,0l0,2.58392c-0.01132,0.01932 -0.02601,0.04016 -0.03666,0.0589l0.03666,0l0,-0.0589c0.74104,-1.24032 2.06446,-3.01217 5.02668,-3.01217c3.66999,-0.00006 6.42124,2.60541 6.42124,8.20472l0,0l0,0.00001l0.00001,-0.00002zm-22.8605,-16.56385c-1.90827,0 -3.15645,1.36022 -3.15645,3.14896c0,1.74976 1.21206,3.15126 3.08241,3.15126l0.03726,0c1.94524,0 3.155,-1.40124 3.155,-3.15126c-0.03666,-1.78874 -1.20976,-3.14896 -3.11822,-3.14896l0,0l0.00001,0l-0.00001,0zm-2.82515,27.01658l5.57604,0l0,-18.2292l-5.57604,0l0,18.2292z"
            />
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer p-0">
  <div (click)="bsModalRef.hide()" class="nb-close-btn text-center my-2 mx-auto px-4 py-2">close</div>
</div>