@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
.modal-body {
  $contact-btn-height: 55px;
  border-radius: $btn-border-radius;
  @include vendor-prefix(background-size, 100% 425.75px !important);
  @include vendor-prefix(background-repeat, no-repeat !important);
  color: white;
  .row {
    .nb-header {
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
        width: 27px;
        height: 27px;
        transition: transform .4s ease-in-out;
        &:hover {
          @include vendor-prefix(transform, scale(1.1));
        }
      }
    }
    .nb-pic {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 3px solid white;
      @include vendor-prefix(ackground-position, center);
      @include vendor-prefix(background-size, cover);
    }
    .nb-details {
      #name {
        font-size: 18px;
      }
      .nb-detail-box {
        display: inline-block;
        margin-left: 25%;
      }
      .nb-detail-header {
        font-size: 13px;
      }
    }
    .nb-contact-btn {
      width: 30%;
      min-width: 200px;
      height: $contact-btn-height;
      line-height: $contact-btn-height;
      background-color: white;
      border-radius: 45px;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto;
      font-weight: 600;
      box-shadow: 2px 15px 50px 0px #c4c1c1;
      margin-top: 29px;
      transition: box-shadow .4s ease-in-out, height .8s ease-in-out, width .8s ease-in-out;
      &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
    .nb-cntact-infos {
      min-width: 270px;
      max-width: 425px;
      width: 90%;
      height: 100%;
      border-radius: $btn-border-radius;
      text-transform: none;
      div {
        .nb-single-info {
          text-align: left;
          padding-left: 10px;
          color: gray;
          &:hover {
            div:last-of-type {
              img.nb-copy {
                opacity: 1;
              }
            }
          }
          div:first-of-type {
            font-weight: 400;
            font-size: 12px;
            height: 15px;
            line-height: 15px;
            margin-left: 40px;
          }
          div:last-of-type {
            height: 30px;
            line-height: 30px;
            img {
              margin-left: 10px;
              margin-right: 10px;
              width: 15px;
              &.nb-copy {
                transition: opacity .3s ease-in-out;
                opacity: 0;
              }
            }
          }
          a {
            color: gray;
          }
        }
      }
    }
    .fade-in-animation {
      @include fade-in-animation(1s,
      0.5s);
    }
    .nb-bio {
      color: gray;
      margin-top: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  .modal-body {
    @include vendor-prefix(background-size, 100% 547px !important);
    .row {
      .nb-header {
        svg {
          @include vendor-prefix(transform, scale(.75));
        }
      }
      .nb-pic {}
      .nb-details {
        #name {}
        .nb-detail-box {
          margin-left: 30%;
        }
        .nb-detail-header {}
      }
      .nb-contact-btn {}
      .nb-cntact-infos {
        div {
          .nb-single-info {
            div:first-of-type {
              font-size: 10px;
            }
            div:last-of-type {
              font-size: 13px;
              img {
                &.nb-copy {}
              }
            }
          }
        }
      }
      .nb-bio {
        margin-top: 20px;
      }
    }
  }
}

// =========================
// Classes for random colors
// =========================
.pro-modal-color1 {
  background: linear-gradient(to right bottom, #FF92A0, #FF9360);
  .row {
    #btn {
      color: #FF9360;
    }
  }
}

.pro-modal-color2 {
  background: #c0c0aa;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #1cefff, #c0c0aa);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #1cefff, #c0c0aa);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .row {
    #btn {
      color: #17a6b1;
    }
  }
}

.pro-modal-color3 {
  background: #A770EF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #FDB99B, #CF8BF3, #A770EF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #FDB99B, #CF8BF3, #A770EF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .row {
    #btn {
      color: #A770EF;
    }
  }
}

.pro-modal-color4 {
  background: #ffd89b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left top, #19547b, #ffd89b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left top, #19547b, #ffd89b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .row {
    #btn {
      color: #19547b;
    }
  }
}

.pro-modal-color5 {
  background: #6190E8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #A7BFE8, #6190E8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #A7BFE8, #6190E8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .row {
    #btn {
      color: #6190E8;
    }
  }
}
