<div class="modal-body" [ngClass]="modalColor">
  <div class="container-fluid px-0 h-100">
    <div *ngIf="pro" class="row mx-0 w-100 no-gutters align-items-start justify-content-center">
      <div class="col-12 px-2">
        <span class="nb-header w-100">
          <img (click)="openSharingModal()" src="../../../../assets/images/fi-share.svg">
          <img (click)="closeModal()" src="../../../../assets/images/fi-close.svg">

        </span>
      </div>

      <div class="col-12">
        <div class="nb-pic mx-auto mb-2" [ngStyle]="{ 'background-image': 'url(' + pro.profilePicURL + ')' }"></div>
      </div>
      <div class="nb-details row mx-0 w-100 no-gutters align-items-center justify-content-center">
        <div id="name" class="col-12 text-center">
          <b>{{ pro.firstName + " " + pro.lastName | uppercase }} </b>
        </div>
        <div class="col-12 text-center mb-3"> {{ pro.jobTitle | titlecase}} </div>
        <div class="col-md-6 col-sm-12 my-2">
          <div class="nb-detail-box">
            <div class="nb-detail-header d-block">Institution</div>
            <div class="d-block"> {{ pro.institution | titlecase }} </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 my-2">
          <div class="nb-detail-box">
            <div class="nb-detail-header d-block">City</div>
            <div class="d-block"> {{ pro.city | titlecase }} </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 my-2">
          <div class="nb-detail-box">
            <div class="nb-detail-header d-block">Can come to you</div>
            <div class="d-block"> {{ pro.flexible | titlecase }} </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 my-2">
          <div class="nb-detail-box">
            <div class="nb-detail-header d-block">Languages spoken</div>
            <div class="d-block"> {{ langsFormatting() | uppercase }} </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div (click)="showInfos()" id="btn" class="nb-contact-btn" [ngClass]="{'nb-cntact-infos': showContact}">
          <div *ngIf="!showContact"> contact</div>
          <div *ngIf="showContact" class="fade-in-animation py-4">
            <div *ngIf="pro.phone" class="nb-single-info" ngxClipboard [cbContent]="pro.phone" (cbOnSuccess)="copiedInfo()">
              <div>PHONE</div>
              <div id="phone">
                <img src="../../../../assets/images/icon-phone.svg"> {{ pro.phone }}
                <img class="nb-copy" src="../../../../assets/images/icon-copy.svg">
              </div>
            </div>
            <div *ngIf="pro.email" class="nb-single-info mt-3" ngxClipboard [cbContent]="pro.email" (cbOnSuccess)="copiedInfo()">
              <div>EMAIL</div>
              <div id="email">
                <img src="../../../../assets/images/icon-email.svg"> {{ pro.email }}
                <img class="nb-copy" src="../../../../assets/images/icon-copy.svg">
              </div>
            </div>
            <div *ngIf="pro.website" class="nb-single-info mt-3">
              <div>WEBSITE</div>
              <div id="email">
                <a href="{{ 'http://' + pro.website }}" target="_blank">
                  <img src="../../../../assets/images/fi-website.svg"> {{ pro.website }}
                </a>
                <img class="nb-copy" src="../../../../assets/images/FI-external-link.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 nb-bio px-4">
        <p>Bio</p>
        <p> {{ pro.bio }} </p>
      </div>
    </div>
  </div>
</div>