@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @include media-breakpoint-down(xs) {
$icons-border: 0;

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  .nb-header {
    @include vendor-prefix(background-position, center);
    @include vendor-prefix(background-size, cover);
    @include vendor-prefix(background-attachment, fixed);
    height: 70vh;

    @include media-breakpoint-down(xs) {
      height: 100vh;
    }

    .nb-color-filter {
      background-color: rgba(black, .5);
      height: 100%;

      h1 {
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px black;
        padding: 0 20%;

        @media (max-width: 1000px) {
          padding: 0 12%;
        }

        @media (max-width: 500px) {
          padding: 0 0;
          font-size: 36px;
        }
      }
    }
  }

  .nb-side-nav {
    position: fixed;
    top: 40%;
    left: 10%;
    width: 97px;
    color: $black;

    a {
      text-decoration: none;
      color: inherit;
    }

    .nb-side-item {
      &:first-of-type img {
        @include nb-border-radius-top(8px);
      }

      &:last-of-type img {
        @include nb-border-radius-bottom(8px);
      }

      img {
        padding: 11px;
        width: 40px;
        background-color: $black;
        margin-right: 5px;
      }

      &:hover {
        cursor: pointer;
        font-weight: bold;
        color: $main-color;

        img {
          background-color: $main-color;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      left: 5%;
    }

    @include media-breakpoint-down(md) {
      left: 5px;
    }

    @media (max-width: $navbar-breakpoint) {
      display: none;
    }
  }

  .row {
    @include media-breakpoint-down(xs) {
      padding: 0 10px;
    }

    .nb-features {
      div {
        display: inline-block;
        color: gray;
        padding: 0 8px;
        font-size: 14px;
        font-weight: bold;

        img {
          margin-right: 5px;
          width: 16px;
          height: inherit;

          &#nb-first-icon {
            @include vendor-prefix(transform-origin, top);
            @include vendor-prefix(transform, scale(.8));
          }
        }
      }
    }

    #nb-article {
      text-align: justify;
      font-size: 17px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .nb-explore-rest-div {
      padding: 40px 0;

      .nb-bttn-container {
        $height: 50px;
        width: fit-content;
        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

        input {
          width: 290px;

          @include media-breakpoint-down(xs) {
            width: 220px
          }

          height: $height;
          line-height: $height;
          @include nb-border-radius-left($btn-border-radius);
          font-size: 16px;
          padding-left: 8px;
          outline: none;
          background-color: white;
          color: rgba(black, .6);
          border: 1.5px solid rgba($main-color, 0);
          transition: border .7s cubic-bezier(.25, .8, .25, 1);

          &:focus {
            border: 1.5px solid rgba($main-color, 1);
          }
        }

        .nb-bttn {
          display: inline-block;
          text-align: center;
          height: $height;
          line-height: $height;
          width: 100px;

          @include media-breakpoint-down(xs) {
            width: 80px
          }

          @include nb-border-radius-right($btn-border-radius);
          @include nb-btn-styling('full',
          'none',
          'none',
          $main-color,
          white);
        }
      }

      #nb-disclaimer {
        display: block;
        margin: 10px auto;
        color: gray;
        width: 276px;
        text-align: center;

        a {
          color: $main-color;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.nb-hide {
  display: none !important;
}