<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid px-0 pt-0 pb-5">


  <div class="nb-side-nav" [ngClass]="{'nb-hide': !isSidebarShown()}">
    <a [routerLink]="goBack()">
      <div class="nb-side-item" (click)="goBack()">
        <img class="border-bottom" src="../../../../assets/images/fi-back-left.svg">
        Back
      </div>
    </a>

    <div class="nb-side-item mt-1" (click)="openSocialsModal()">
      <img class="border-bottom" src="../../../../assets/images/fi-share.svg"> Share</div>
  </div>


  <div *ngIf="articleInfos" class="nb-header" [ngStyle]="{'background-image': 'url(' + articleInfos.bgImgUrl + ')'}">
    <div class="nb-color-filter w-100">
      <div class="row mx-0 w-100 h-100 no-gutters align-items-center justify-content-center">
        <div class="col">
          <h1 class="text-center">{{ articleInfos.title }}</h1>
        </div>
      </div>
    </div>
  </div>


  <div #article class="row mx-0 no-gutters justify-content-center">
    <div *ngIf="articleInfos" class="col-lg-5 col-md-7 col-sm-8 col-12">
      <span class="nb-features d-block mt-4 mb-5">
        <div class="border-right">
          <img id="nb-first-icon" src="../../../../assets/images/icon-levels.svg">{{ articleInfos.difficultyLevel }}</div>
        <div>
          <img src="../../../../assets/images/icon-open-book.svg"> {{ articleInfos.readTime + ' min read' }}</div>
      </span>

      <!-- ================================= -->
      <!-- P O S T  C O N T E N T  S T A R T -->
      <!-- ================================= -->
      <div *ngIf="articleContent" id="nb-article" [innerHTML]="articleContent"></div>
      <!-- ============================= -->
      <!-- P O S T  C O N T E N T  E N D -->
      <!-- ============================= -->


      <div *ngIf="!userEmail.isSaved">
        <hr>
        <div class="nb-explore-rest-div row mx-0 no-gutters align-items-center justify-content-center">
          <div class="col">
            <h5 class="text-center font-weight-bold">Like our content?</h5>
            <h6 class="text-center font-weight-bold mb-3">Stay tuned for exciting new annoucements <br> (no spammy
              emails
              we promise!)</h6>
            <div class="nb-bttn-container mx-auto">
              <input class="pl-3" type="email" placeholder="Email" [(ngModel)]="userEmail.value">
              <div class="nb-bttn" (click)="saveEmail()"> Notify me</div>
            </div>
            <small *ngIf="!userEmail.isValid" class="mt-2 font-weight-bold d-block mx-auto text-center text-danger w-100">Please
              enter a valid email (example@email.com)</small>
            <small *ngIf="userEmail.value" id="nb-disclaimer"> By clicking the “Notify me” button, I expressly agree to
              the mvmtribe <a href="http://localhost:4200/terms-of-use" target="_blank">Terms of Use</a> and understand
              that my account information will be used according to mvmtribe <a href="http://localhost:4200/privacy-policy"
                target="_blank">Privacy Policy</a>
            </small>
          </div>
        </div>
        <hr>
      </div>


    </div>
  </div>


  <h5 *ngIf="articleContent" class="text-center font-weight-bold mt-5">——— Related Articles ———</h5>
  <app-learning-category *ngIf="articleInfos" [dataFromParent]="{'type':'moreArticles', 'value': articleInfos.id}"></app-learning-category>



</div>
<app-footer></app-footer>