@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @include media-breakpoint-down(xs) {
$colour: $pro-color;

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  .nb-view1 {
    h1 {
      @include fade-in-animation(1s, 0s);
    }

    .nb-stats {
      width: fit-content;
      margin: 0 auto;

      .nb-stat {
        display: inline-block;
        width: fit-content;
        padding: 0 16px;

        &:last-of-type {
          border-left: 1px solid lightgray;
        }
      }
    }
  }

  .nb-view2 {
    padding-top: 12vh;

    h2 {
      @include fade-in-animation(1s, 0s);
    }

    .nb-signup-btn {
      @include fade-in-animation(1s, .3s);
      @include nb-btn(190px, 50px);
      @include nb-btn-styling('full', '$init-color', '$init-text-color', $colour, white);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

#copyright {
  color: white;
  background-color: $black;

  @media (max-width: $navbar-breakpoint) {
    margin-bottom: $mobile-navbar-height;
  }
}

@include media-breakpoint-down(xs) {
  .container-fluid {
    .nb-view1 {
      .nb-stats {
        .nb-stat {
          display: block;
          width: 100%;

          &:last-of-type {
            border-left: none;
            margin-top: 40px;
          }
        }
      }
    }
  }
}