<app-pro-navbar></app-pro-navbar>
<div class="container-fluid p-0">

  <div class="nb-view1 row mx-0 w-100 h-75 justify-content-center align-items-center text-center">
    <div class="col">
      <h1 class="mb-5">Hi {{fname | titlecase }},</h1>
      <div class="nb-stats">
        <div class="nb-stat">
          <h5 class="mb-3">This month's views</h5>
          <h1>{{ n1 }}</h1>
        </div>
        <div class="nb-stat">
          <h5 class="mb-3">This month's leads</h5>
          <h1>{{ n2 }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="copyright" class="row mx-0 w-100 no-gutters align-items-start justify-content-center py-3">
  <div class="col-12 text-center">Copyright © 2018 MVMTribe inc. All rights reserved.</div>
</div>
