@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$colour: $main-color;

.nb-main-container {
  background-color: $lightgray;
  width: 100%;
  @include topnavbar-margin;
  @include full-height-responsive;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 18%;
  padding-right: 18%;
  text-align: justify;
  h3 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  h6 {
    text-align: left;
    margin-top: 30px;
  }

  @include media-breakpoint-down(xs) {
    h3 {
    font-size: 25px;
    }
    font-size: 14px;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
  }
}