@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
.container-fluid {
  @include topnavbar-margin;
  @include full-height-responsive;
  background-color: $lightgray;
  .row:first-of-type {
    background-color: white;
    h3 {
      font-size: 25px;
    }
    .nb-saved {
      width: fit-content;
      height: fit-content;
      @include vendor-prefix(transform, translateY(50%));
      border-radius: 45px;
      padding: 10px 5px;
      background-color: $blue-medium;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      .nb-section {
        display: inline-block;
        width: 140px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #A09DB9;
        cursor: pointer;
      }
      .nb-section:hover, .nb-active-section {
        color: white;
        font-weight: bold;
      }
    }
  }
}
