<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid p-0">
  <div class="row mx-0 w-100 mb-5 no-gutters align-items-start justify-content-center">
    <h3 class="w-100 text-center font-weight-bold pt-5">Favourites</h3>
    <div class="nb-saved">
      <div class="nb-section border-right" [ngClass]="{'nb-active-section': isCoursesActive}" (click)="isCoursesActive = !isCoursesActive">Courses</div>
      <div class="nb-section" [ngClass]="{'nb-active-section': !isCoursesActive}" (click)="isCoursesActive = !isCoursesActive">Specialists</div>
    </div>
  </div>

  <app-learning-category *ngIf="isCoursesActive" [dataFromParent]="{'type':'favourites', 'value': 'userID'}"></app-learning-category>
  <app-specialists-list *ngIf="!isCoursesActive" [dataFromParent]="{'from': 'favourites', 'data': 'userID'}"></app-specialists-list>

</div>
<app-footer></app-footer>
