@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.row {
  height: 100vh;
}

#password {
  width: 30%;

  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}

.portals-div {
  width: 100%;
  position: absolute;
  top: 0%;
}