<div class="row mx-0 align-items-center justify-content-center">
  <div *ngIf="!isLoggedin" class="input-group mb-3" id="password">
    <input type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]= "pw">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="login()">login</button>
    </div>
  </div>
</div>

<div *ngIf="isLoggedin" class="portals-div px-3">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Content Management</h5>
          <div (click)="routerLink.navigate([routerLink.url,'content'])" class="btn btn-outline-dark w-25 mx-auto">Go</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Analytics</h5>
          <div class="btn btn-outline-dark w-25 mx-auto">Go</div>
        </div>
      </div>
    </div>
  </div>
</div>