@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$colour: $pro-color;

.nb-pro-navbar {
  $global-height: $desktop-navbar-height;
  $box-size: 42px;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: $global-height;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  padding-right: 40px;

  .logo {
    position: relative;
    height: calc(.56 * #{$global-height});
    margin-top: calc(.22 * #{$global-height});
  }

  .nb-options {
    div {
      display: inline-block;
      background-color: transparent;
      text-align: center;
      color: white;
      font-size: 19px;
      width: $box-size;
      height: $box-size;
      line-height: $box-size;
      margin-top: calc((#{$global-height} - #{$box-size}) / 2);

      &:first-of-type {
        @include nb-border-radius-left($btn-border-radius);
      }

      &:last-of-type {
        @include nb-border-radius-right($btn-border-radius);
      }
      &:hover {
        background-color: $colour;
        cursor: pointer;
      }
    }

    img {
      width: 22px;
      height: 100%;
    }
  }

  .nb-login-btn {
    margin-top: calc((#{$global-height} - #{$box-size}) / 2);
    @include nb-btn(100px, $box-size);
    @include nb-btn-styling('hollow', 'transparent', $colour, $colour, white);
    // @include nb-btn-styling('full', '$init-color', '$init-text-color', $colour, white);
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media (max-width: $navbar-breakpoint) {
  $global-height: $mobile-navbar-height;
  $box-size: 40px;

  .nb-pro-navbar {
    position: fixed;
    top: unset;
    bottom: 0;
    height: $global-height;
    padding-left: 10px;
    padding-right: 15px;
    box-shadow: 0px -2px 7px rgba(50, 50, 50, 0.75);

    .logo {
      height: calc(.56 * #{$global-height});
      margin-top: calc(.22 * #{$global-height});
    }

    .nb-options {
      div {
        width: $box-size;
        height: $box-size;
        font-size: 16px;
        line-height: $box-size;
        margin-top: calc((#{$global-height} - #{$box-size}) / 2);
      }

      img {
        @include vendor-prefix(transform-origin, 50% 50%);
        @include vendor-prefix(transform, scale(.7));
      }
    }

    .nb-login-btn {
      font-size: 14px;
      margin-top: calc((#{$global-height} - #{$box-size}) / 2);
      @include nb-btn(70px, $box-size);
    }
  }
}

.nb-homepage-navbar {
  background-color: transparent;
  box-shadow: none;
}