<div class="nb-pro-navbar" [ngClass]="{'nb-homepage-navbar':routerLink.url === '/pro/homepage'}">
  <img *ngIf="isHomepage" class="logo" src="../../../assets/images/logo/hor-wobg-white.png" alt="">
  <img *ngIf="!isHomepage" class="logo" src="../../../assets/images/logo/hor-wobg-black.png" alt="">
  <div *ngIf="!isCurrentUser" (click)="openLoginModal('pro', false)" class="nb-login-btn">login</div>
  <div *ngIf="isCurrentUser" class="nb-options">
    <!-- <div (click)="routerLink.navigate(['pro','dashboard'])" class="border-right"><img src="../../../assets/images/fi-home.svg" alt=""></div> -->
    <div (click)="routerLink.navigate(['pro','edit'])" class="border-right"><img src="../../../assets/images/fi-avatar.svg" alt=""></div>
    <div (click)="logout()"><img src="../../../assets/images/fi-logout.svg" alt=""></div>
  </div>
</div>