<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>
<div class="container-fluid p-0">

  <div class="nb-header w-100 border-bottom">
    <h3 class="w-100 text-center">{{ currentCategory | uppercase }}</h3>
    <a [routerLink]="['/learning']">
      <h5>Explore a different category</h5>
    </a>
  </div>
  <app-learning-category [dataFromParent]="{'type':'category', 'value': currentCategory}"></app-learning-category>

</div>
<app-footer></app-footer>