@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.container-fluid {
  background-color: $lightgray;
  @include topnavbar-margin;
  @include full-height-responsive;

  .nb-header {
    background-color: white;

    h3 {
      font-size: 25px;
      font-weight: bold;
      padding-top: 50px;
      padding-bottom: 21px;
      letter-spacing: 3px;

      @include media-breakpoint-down(xs) {
        font-size: 20px;
        padding-top: 29px;
        padding-bottom: 20px;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    h5 {
      font-size: 13px;
      color: gray;
      padding-left: 15px;
      width: fit-content;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $main-color;
      }

      @media (max-width: $navbar-breakpoint) {
        font-size: 11px;
      }
    }
  }
}