@import "../../../../assets/scss/cssUtils";
@import "../../../../assets/scss/animations";
@import "../../../../assets/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
#nb-row2 {
  $pro-card-height: 120px;
  .nb-pro-card {
    @include sliding-animation(1s, top, 0);
    height: $pro-card-height;
    width: 95%;
    max-width: 450px;
    text-align: left;
    border-radius: $btn-border-radius;
    border: 1px solid lightgrey;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
    transition: box-shadow .3s ease-in-out;
    @include vendor-prefix(transform-style, preserve-3d);
    perspective: 1000;
    -webkit-perspective: 1000;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      cursor: pointer;
    }
    .nb-picture {
      @include vendor-prefix(background-position, center);
      @include vendor-prefix(background-size, cover);
      @include nb-border-radius-left($btn-border-radius);
      float: left;
      width: calc(#{$pro-card-height} - 2px);
      height: calc(#{$pro-card-height} - 2px);
      margin-right: 5%;
    }
    .nb-details {
      @include media-breakpoint-down(md) {
        font-size: .8rem;
      }
      div:not(.nb-name) {
        color: gray;
      }
      .nb-icon {
        width: 17px;
        height: 17px;
        margin-right: 2%;
        @include media-breakpoint-down(md) {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
