<div class="row mx-0 w-100 no-gutters align-items-start justify-content-center" *ngIf="!isEmpty">
    <div class="col-xl-7 col-lg-10 col-md-12">
      <div id="nb-row2" class="row mx-0 mb-5 w-100 no-gutters align-items-start justify-content-start">
        <div *ngFor="let pro of prosList" class="col-lg-6 col-md-12 my-2">
          <div class="nb-pro-card mx-auto" (click)="openFullProfile( pro.id )">
            <div class="nb-picture" [ngStyle]="{ 'background-image': 'url(' + pro.profilePicURL + ')' }"></div>
            <div class="nb-details py-3 pr-1">
              <div class="nb-name mb-2">
                <b>{{ pro.firstName + ' ' + pro.lastName | uppercase }}</b>
              </div>
              <div>
                <img class="nb-icon mb-1" src="../../../../assets/images/fi-business-card.svg"> {{ pro.jobTitle | titlecase}} </div>
              <div>
                <img class="nb-icon" src="../../../../assets/images/fi-location.svg"> {{ pro.city | titlecase }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="empty" class="row mx-0 w-100 no-gutters align-items-start justify-content-center" *ngIf="elementDisplay('specialists')">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-11">
      <img src="../../../../assets/images/illustration-empty-results.jpg" class="w-100 mx-auto">
    </div>  
  </div>
  <div id="empty" class="row mx-0 w-100 no-gutters align-items-start justify-content-center" *ngIf="elementDisplay('favourites')">
    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
      <img src="../../../../assets/images/illustration-empty-favs.jpg" class="w-100 mx-auto">
    </div>  
  </div>
