<app-topnavbar></app-topnavbar>
<app-mobile-navbar></app-mobile-navbar>


<!-- A B O V E  T H E  F O L D -->
<div class="nb-above-fold w-100">
  <div class="nb-color-filter w-100 h-100">

    <div class="row mx-0 w-100 h-100 align-items-center justify-content-center">
      <div class="d-lg-block d-md-none d-sm-none d-none col-12 align-self-center">
        <div class="nb-header"> The resources you need to do fitness,</div>
        <div class="nb-header"> get rid of pain, and live a healthy life.</div>
      </div>
      <div class="d-lg-none d-md-block d-sm-block d-none col-12 align-self-center">
        <div class="nb-header"> The resources you need to</div>
        <div class="nb-header"> do fitness, get rid of pain,</div>
        <div class="nb-header"> and live a healthy life.</div>
      </div>
      <div class="d-sm-none d-block col-12 align-self-center">
        <div class="nb-header"> The resources you need to</div>
        <div class="nb-header"> do fitness, get rid of pain,</div>
        <div class="nb-header"> and live a healthy life.</div>
      </div>
    </div>

    <div class="nb-atf-cta" pageScroll [pageScrollOffset]="scrollOffset" [pageScrollDuration]="1000" [pageScrollEasing]="easeInOutExpo" href="#nb-how-it-works">
      <h6>Learn more</h6>
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" width="960px" height="560px" viewBox="0 0 960 560" enable-background="new 0 0 960 560" xml:space="preserve">
        <g id="Rounded_Rectangle_33_copy_4_1_">
          <path d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937
		          c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937
		          c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"
            fill="white" />
        </g>
      </svg>
    </div>

  </div>
</div>


<!-- H O W  I T  W O R K S -->
<div id="nb-how-it-works" class="w-100">
  <div class="row mx-0 w-100 align-items-center justify-content-center">
    <div class="nb-intro col-12">
      <h3 class="mb-3 font-weight-bold">Our reality today</h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a
        page when looking at its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
        to
        using 'Content here, content here, making it look like readable English. Many desktop publishing packages and
        web
        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
        web
        sites still in their infancy.</p>
    </div>

    <div class="nb-solution-text">
      <h3 class="font-weight-bold">
        Our solution
      </h3>
      <p>
        their default model text, and a search for 'lorem ipsum' will uncover many
        web sites still in their infancy.
        their default model text, and a search for 'lorem ipsum' will uncover many
        web sites still in their infancy.
        their default model text, and a search for 'lorem ipsum' will uncover many
        web sites still in their infancy.
      </p>
    </div>

    <div class="nb-services w-100">
      <hr class="w-25 mb-5">

      <!-- Learning -->
      <div class="row mx-0 w-100 align-items-center justify-content-center">
        <div class="d-sm-block d-md-none col-lg-4 col-md-5 col-sm-12 align-self-center text-center">
          <img class="nb-from-left" src="../../../assets/images/temp-icons/light-bulb.svg">
          <hr>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 align-self-center">
          <div class="nb-explanation">
            <h3 class="mb-3">Usable knowledge</h3>
            <p>
              Discover and learn about a movement based approach to health and fitness. Find a variety of articles and
              courses to take your health into your own hands and thrive.
              Discover and learn about a movement based approach to health and fitness. Find a variety of articles and
              courses to take your health into your own hands and thrive.
            </p>
          </div>
        </div>
        <div class="d-none d-sm-none d-md-block col-lg-4 col-md-5 col-sm-12 align-self-center text-center">
          <img class="nb-from-left" src="../../../assets/images/temp-icons/light-bulb.svg">
          <hr>
        </div>
      </div>

      <!-- Tools -->
      <div class="row mx-0 w-100 align-items-center justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-12 align-self-center text-center">
          <img class="nb-from-right" src="../../../assets/images/temp-icons/kettlebell.svg">
          <hr>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 align-self-center">
          <div class="nb-explanation">
            <h3 class="mb-3">Essential tools</h3>
            <p>
              You've learned a lot, had a few realizations, and have decided to take your health seriously. Great! Time
              to
              get a few tools to help you achieve your goals.
              You've learned a lot, had a few realizations, and have decided to take your health seriously. Great! Time
              to
              get a few tools to help you achieve your goals.
            </p>
          </div>
        </div>
      </div>

      <!-- Specialists -->
      <div class="row mx-0 w-100 align-items-center justify-content-center">
        <div class="d-sm-block d-md-none col-lg-4 col-md-5 col-sm-12 align-self-center text-center">
          <img class="nb-from-left" src="../../../assets/images/temp-icons/group.svg">
          <hr>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 align-self-center">
          <div class="nb-explanation">
            <h3 class="mb-3">A community</h3>
            <p>
              Find movement specialists in your area who share our philosophy. Get the right assistance to get to the
              root
              of the problem faster, not just quick fixes and pain killers.
              Find movement specialists in your area who share our philosophy. Get the right assistance to get to the
              root
              of the problem faster, not just quick fixes and pain killers.
            </p>
          </div>
        </div>
        <div class="d-none d-sm-none d-md-block col-lg-4 col-md-5 col-sm-12 align-self-center text-center">
          <img class="nb-from-left" src="../../../assets/images/temp-icons/group.svg">
          <hr>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- C A L L  T O  A C T I O N -->
<div class="nb-cta2-section">
  <div class="row mx-0 w-100 h-100 align-items-center justify-content-center text-center">
    <div class="col col-lg-8 col-md-9 col-sm-10 col-11 align-self-center">
      <h4 class="mb-3 w-100">
        Access the platform for free.
        <br class="d-block d-sm-block d-md-none">
        Learn, connect, and move!
      </h4>
      <div class="nb-btn-cta2 mt-4" (click)="routerLink.navigate(['learning'])">Start my Journey</div>
    </div>
  </div>
</div>


<app-footer></app-footer>