@import "../../../assets/scss/cssUtils";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
$mobile-min-height: 450px;
$bg-intro-text: #f1c40f;
// $bg-intro-text: #ff2952;
// $bg-intro-text: #2ecc71;
// $bg-intro-text: #3498DB;

// ==============
// ABOVE THE FOLD
// ==============
.nb-above-fold {
  height: 100vh;
  min-height: 650px;

  @media (max-width: $navbar-breakpoint) {
    height: calc(100vh - #{$mobile-navbar-height});
    min-height: $mobile-min-height;
  }

  @include vendor-prefix(background-image, url("../../../assets/images/bg-homepage-2.jpg"));
  @include vendor-prefix(background-position, center);
  @include vendor-prefix(background-size, cover);

  .nb-color-filter {
    background-color: rgba($black, 0.2);
  }

  .nb-header {
    text-align: center;
    background-color: white;
    color: $black;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    margin: 8px auto;
    padding: 0 8px;

    &:first-of-type {
      @include fade-in-animation(1s, 0s);
    }

    &:last-of-type {
      @include fade-in-animation(1s, .4s);
    }

    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 18px;
      letter-spacing: 0;
    }
  }

  .nb-atf-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    cursor: pointer;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    @include nb-border-radius-top(140px);
    background-color: rgba(white, 0);
    transition: background-color .15s ease-in-out;
    @include vendor-prefix(transform, translateY(15px));

    &:hover {

      h6 {
        opacity: 1;
      }

      svg g path {
        fill: $main-color;
      }
    }


    h6 {
      color: $main-color;
      text-align: center;
      font-size: 19px;
      margin-bottom: 30px;
      opacity: 0;
      transition: opacity .25s .1s ease-in-out;
    }

    svg {
      width: 90px;
      height: 45px;
      transform: scale(2.5);
      margin: 0 auto;

      @include down-arrow-bounce-animation;

      g path {
        fill: rgba(white, .6);
      }
    }

    @media (max-width: $navbar-breakpoint) {
      padding-left: 1%;
      padding-right: 1%;
      bottom: $mobile-navbar-height;

      h6 {
        opacity: 1;
      }

      svg g path {
        fill: $main-color;
      }
    }
  }

}


// ============
// HOW IT WORKS
// ============
#nb-how-it-works {
  background-color: $lightgray;

  .row {
    .nb-intro {
      position: relative;
      padding-top: 55px;
      width: 92%;
      height: fit-content;
      min-height: fit-content;
      color: white;
      font-size: 19px;
      background-color: $bg-intro-text;

      @include media-breakpoint-down(xs) {
        padding: 50px 0;
      }

      h3,
      p {
        margin-left: 15%;
        width: 45%;
        text-align: justify;
      }
    }

    .nb-intro::after {
      content: '';
      position: absolute;
      left: 0%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 27vw solid transparent;
      border-right: 71vw solid transparent;
      border-top: 20vh solid $bg-intro-text;
      clear: both;
    }

    .nb-solution-text {
      width: 100%;
      font-size: 19px;
      margin-top: 23vh;
      margin-bottom: 5%;

      h3 {
        text-align: right;
      }

      p {
        text-align: justify;
      }

      h3,
      p {
        margin-left: 53%;
        width: 35%;
      }
    }


    @include media-breakpoint-down(lg) {

      .nb-intro h3,
      .nb-intro p {
        width: 55%;
      }

      .nb-solution-text h3,
      .nb-solution-text p {
        width: 45%;
        margin-left: 45%;
      }
    }

    @include media-breakpoint-down(md) {

      .nb-intro h3,
      .nb-intro p {
        width: 65%;
      }

      .nb-solution-text h3,
      .nb-solution-text p {
        width: 50%;
        margin-left: 40%
      }
    }

    @include media-breakpoint-down(sm) {
      .nb-intro::after {
        border-left: 49vw solid transparent;
        border-right: 49vw solid transparent;
        border-top: 7vh solid $bg-intro-text;
      }

      .nb-intro h3,
      .nb-intro p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }

      .nb-solution-text h3,
      .nb-solution-text p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }

      .nb-solution-text {
        margin-top: 15vh;

        h3 {
          text-align: center;
        }

      }
    }

    @include media-breakpoint-down(xs) {

      .nb-intro,
      .nb-solution-text {
        font-size: 16px;
      }

      .nb-intro h3,
      .nb-intro p {
        width: 85%;
      }

      .nb-solution-text h3,
      .nb-solution-text p {
        width: 85%;
      }
    }


    // ==================
    // 3  S E R V I C E S
    // ==================
    .nb-services {
      .row {
        margin-bottom: 150px;
        position: relative;

        img {
          width: 155px;
          @include infinite-floating;
        }

        hr {
          border: 2px solid $main-color;
          width: 15%;
          margin-top: 15px;
          margin-bottom: 0;
        }

        .nb-explanation {
          font-size: 19px;
          width: 350px;
          text-align: justify;
          margin-left: auto;
          margin-right: auto;

        }

        &:last-of-type {
          margin-bottom: 0;

          // Experimental
          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            bottom: -50%;
            border-style: solid;
            border-width: 145px 65px 80px 0;
            border-color: transparent $bg-intro-text transparent transparent;
          }
        }

        // Experimental
        &:nth-of-type(2)::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          left: 0;
          top: -35%;
          border-style: solid;
          border-width: 85px 0 200px 90px;
          border-color: transparent transparent transparent $bg-intro-text;
        }
      }

      @include media-breakpoint-down(sm) {
        .row {
          margin-bottom: 100px;

          &:nth-of-type(2)::after {
            top: 0;
            border-width: 0 0 0 0;
          }

          &:last-of-type::after {
            top: 0;
            border-width: 0 0 0 0;
          }

          img {
            width: 135px;
          }

          hr {
            margin-bottom: 25px;
          }

          .nb-explanation {
            font-size: 17px;
            max-width: 350px;
            width: 85%;
            text-align: justify;

            h3 {
              text-align: center;
            }
          }
        }
      }
    }



  }
}

// ==============
// CALL TO ACTION
// ==============
.nb-cta2-section {
  width: 100%;
  height: 80vh;
  background-color: $lightgray;
  color: white;

  .row {
    div.col {
      padding: 4% 0;
      border-radius: $btn-border-radius;
      @include vendor-prefix(background-image, linear-gradient(135deg, rgb(96, 108, 136) 0%, rgb(63, 76, 107) 100%));
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);

      .nb-btn-cta2 {
        @include nb-btn(210px,
        55px);
        @include nb-btn-styling('full',
        'none',
        'none',
        $bg-intro-text,
        white);
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }

      @include media-breakpoint-down(sm) {
        padding: 16% 0;

        h4 {
          font-size: 18px;
        }
      }
    }
  }
}