@import "./variables";
@import "./cssUtils";

// ======================================================================
// Desktop Top navbar: on hover animates menu options like tools or about
// ======================================================================
.hover-on-menu-item-animation {
  display: inline-block;
  position: relative;
}

.hover-on-menu-item-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  @include vendor-prefix(transform, scaleX(0));
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $main-color;
  @include vendor-prefix(transform-origin, bottom right);
  transition: transform 0.25s ease-out;
}

.hover-on-menu-item-animation:hover {
  color: $main-color;
  cursor: pointer;
}

.hover-on-menu-item-animation:hover::after {
  @include vendor-prefix(transform, scaleX(1));
  @include vendor-prefix(transform-origin, bottom left);
}

// ==============
// Pulsing effect
// ==============
@mixin pulsing-animation($duration, $nbr-pulses, $color) {
  animation-name: pulse;
  animation-iteration-count: $nbr-pulses;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: $duration;

  @keyframes pulse {
    0% {
      @include vendor-prefix(transform, scale(0.95));
      box-shadow: 0 0 0 0px rgba($color, 0.5);
    }

    70% {
      @include vendor-prefix(transform, scale(1));
      box-shadow: 0 0 0 50px rgba($yellow-inside, 0);
    }

    100% {
      @include vendor-prefix(transform, scale(1));
      box-shadow: 0 0 0 0px rgba($yellow-inside, 0);
    }
  }
}

// =========================
// Sliding animation
// =========================
@mixin sliding-animation($duration, $from-direction, $delay) {
  animation-name: slide;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-duration: $duration;
  animation-delay: $delay; // vars
  $x0: 0;
  $y0: 0;

  @if $from-direction=='top' {
    $x0: 0;
    $y0: -50px;
  }

  @if $from-direction=='bottom' {
    $x0: 0;
    $y0: 50px;
  }

  @if $from-direction=='left' {
    $x0: -50px;
    $y0: 0;
  }

  @if $from-direction=='right' {
    $x0: 50px;
    $y0: 0;
  }

  @keyframes slide {
    0% {
      @include vendor-prefix(transform, translate($x0, $y0));
      opacity: 0;
    }

    100% {
      @include vendor-prefix(transform, translate(0, 0));
      opacity: 1;
    }
  }
}

// =============
// FadeIn effect
// =============
@mixin fade-in-animation($duration, $delay) {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-duration: $duration;
  animation-delay: $delay;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

// =======================
// 2 Down arrows animation 
// =======================

@mixin down-arrow-bounce-animation {
  @include vendor-prefix(animation, bounce 2s infinite);
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      @include vendor-prefix(transform, translateY(0));
    }
    40% {
      @include vendor-prefix(transform, translateY(-30px));
    }
    60% {
      @include vendor-prefix(transform, translateY(-15px));
    }
  }
}

// @mixin down-arrows-animation($stroke-color, $hover-color) {
//   circle {
//     stroke: $stroke-color;
//   }

//   path {
//     stroke: $stroke-color;
//     fill: transparent;
//     stroke-width: 4px;
//     animation: arrow 2s infinite;
//     -webkit-animation: arrow 2s infinite;
//   }

//   @keyframes arrow {
//     0% {
//       opacity: 0
//     }

//     40% {
//       opacity: 1
//     }

//     80% {
//       opacity: 0
//     }

//     100% {
//       opacity: 0
//     }
//   }

//   @-webkit-keyframes arrow

//   /*Safari and Chrome*/
//     {
//     0% {
//       opacity: 0
//     }

//     40% {
//       opacity: 1
//     }

//     80% {
//       opacity: 0
//     }

//     100% {
//       opacity: 0
//     }
//   }

//   path.a1 {
//     animation-delay: -1s;
//     -webkit-animation-delay: -1s;
//   }

//   path.a2 {
//     animation-delay: -0.5s;
//     -webkit-animation-delay: -0.5s;
//   }

//   &:hover {
//     cursor: pointer;

//     circle {
//       stroke: $hover-color;
//     }

//     path {
//       stroke: $hover-color;
//     }
//   }
// }

@mixin line-cross-infinite ($duration) {
  animation-name: cross;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: $duration;

  @keyframes cross {
    0% {
      text-decoration: line-through;
    }

    100% {
      text-decoration: none;
    }
  }
}

// ==================
// FLOATING ANIMATION 
// ==================

@mixin infinite-floating {
  @include vendor-prefix(animation, float 6s ease-in-out infinite);

  @keyframes float {
    0% {
      transform: translatey(0px);
    }

    50% {

      transform: translatey(-20px);
    }

    100% {

      transform: translatey(0px);
    }
  }

  @-webkit-keyframes float {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-20px);
    }

    100% {
      transform: translatey(0px);
    }
  }

  @-moz-keyframes float {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-20px);
    }

    100% {
      transform: translatey(0px);
    }
  }
}