@import "./variables";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// ========================
// Button shape & centering
// ========================
@mixin nb-btn($width, $height) {
  width: $width;
  border-radius: $btn-border-radius;
  height: $height;
  line-height: $height;
  text-align: center;
}

// ==========================
// Button colors & animations
// ==========================
@mixin nb-btn-styling($type, $init-color, $init-text-color, $filling-color, $text-color) {
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  @if $type=='full' {
    background-color: $filling-color;
    color: $text-color;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow .6s ease-in-out, transform .3s ease-in-out;
    &:hover {
      box-shadow: -6px 10px 20px rgba(0, 0, 0, .2);
      @include vendor-prefix(transform, scale(1.05));
    }
  }
  @if $type=='hollow' {
    color: $init-text-color;
    background-color: $init-color;
    border: 1px solid $init-text-color;
    @include button-animation($filling-color, $text-color, 'hover');
    &:active {
      @include pulsing-animation(1.5s, 1, $filling-color);
    }
  }
}

// ===================
// Border radius sides
// ===================
@mixin nb-border-radius-top($x) {
  border-top-left-radius: $x;
  border-top-right-radius: $x;
}

@mixin nb-border-radius-left($x) {
  border-top-left-radius: $x;
  border-bottom-left-radius: $x;
}

@mixin nb-border-radius-bottom($x) {
  border-bottom-left-radius: $x;
  border-bottom-right-radius: $x;
}

@mixin nb-border-radius-right($x) {
  border-top-right-radius: $x;
  border-bottom-right-radius: $x;
}

@mixin nb-color-filter($color, $alpha) {
  width: 100%;
  height: 100%;
  background-color: rgba($color, $alpha);
}

// =================
// Alert text colors
// =================
@mixin nb-alert-text-color($type) {
  @if $type=='danger' {
    color: #E74C3C;
  }
  @if $type=='good' {
    color: #2ECC71;
  }
  @if $type=='warning' {
    color: #F1C40F;
  }
}

// ======================
// Hover on button effect
// ======================
@mixin button-animation($filling-color, $text-color, $type) {
  transition: background-color .4s ease-in-out;
  cursor: pointer;
  @if $type=='hover' {
    &:hover {
      font-weight: bold;
      background-color: $filling-color;
      color: $text-color;
    }
  }
  @if $type=='click' {
    font-weight: bold;
    background-color: $filling-color;
    color: $text-color;
  }
}

// ====================
// Special motif SVG BG
// ====================
@mixin bg-svg {
  @include vendor-prefix(background-attachment, fixed);
  background-color: #9cd9d4;
  @include vendor-prefix(background-image, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E"));
}

// ==========================
// check and X mark animation
// ==========================
.validation-animation {
  //   HTML elements no.1 = success / no.2 = error
  //   <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
  //   <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
  //   <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
  // </svg>
  // 
  // <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
  //   <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
  //   <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
  //   <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
  // </svg>
  display: inline-block !important;
  svg {
    width: 40px;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash 1.2s ease-in-out;
      animation: dash 1.2s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash 1.2s .4s ease-in-out forwards;
      animation: dash .9s .4s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check 1.2s .4s ease-in-out forwards;
      animation: dash-check 1.2s .4s ease-in-out forwards;
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
}

// ==========================
// Adding margin from the top
// ==========================
@mixin topnavbar-margin {
  margin-top: $desktop-navbar-height;
  @media (max-width: $navbar-breakpoint) {
    margin-top: 0;
  }
}

// ==============================================================
// Height after accounting for top navbar both Desktop and mobile
// ==============================================================
@mixin full-height-responsive {
  height: calc(100vh - #{$desktop-navbar-height});
  min-height: fit-content;
  @media (max-width: $navbar-breakpoint) {
    height: calc(100vh - #{$desktop-navbar-height});
    // padding-top: 40px;
    // padding-bottom: 40px;
  }
}



// ===============
// Vendor prefixes
// ===============
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}