$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$desktop-navbar-height: 56px;
$tablet-navbar-height: 55px;
$mobile-navbar-height: 50px;
$navbar-breakpoint: 675px;
$btn-height: 45px;
$btn-border-radius: 7px;

// ======
// COLORS
// ======

$pro-color: #0074D9;
$main-color: #3AAFA9;
// $main-color: #9ad3de;

// yellow trio
$yellow-inside: #FDCA88;
$yellow-top: #F7D4AE;
$yellow-bottom: #FDCE72;
// blue trio
$blue-dark: #80BBB7;
$blue-medium: #9CD9D4;
$blue-light: #B0EEE9;

$bg-blueish-gradient: linear-gradient(to right bottom, #7EB9B5 10%, #8AC8C3, #90CEC9, #92D0CB, #9ADBD5, #AAEDE6);


$black: #212529;
$charcoal: #36454f;
$lightgray: #f6f6f6;
$red: #EC7063;