@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700');
* {
  font-family: 'Cabin', sans-serif;
}

html {
  background-color: $lightgray;
  @media (max-width: $navbar-breakpoint) {
    margin-bottom: $mobile-navbar-height;
  }
}
// =============================
// Google Maps Autocomplete Menu
// =============================
.pac-container {
  border-radius: $btn-border-radius;
  padding: 5px;
  padding-top: 0;
  .pac-item:hover {
    cursor: pointer;
  }
}

// ==============
// Modals styling
// ==============
.modal-backdrop {
  background-color: #444668;
}

.modal-backdrop.show {
  opacity: 0.82;
}

.modal-content {
    border: none;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    border-radius: $btn-border-radius;
  }

  // ==========================
  // Progress bar ngx-bootstrap
  // ==========================
  .progress {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .progress-bar {
      background-color: $pro-color;
    }
  }